[2021-09-19 14:41] TruncatedDinosour commented on #163
what did you use? nlohmann orrr?

[2021-09-19 14:43] neobay commented on #163
I use nlohmann

[2021-09-19 14:46] TruncatedDinosour commented on #163
So do I, but I'm confused what solved this issue

[2021-09-19 14:48] neobay commented on #163
I tried to send post request to login but not working

[2021-09-19 14:50] TruncatedDinosour commented on #163
I'm currently trying to interface a local python server with C++ and looking for a way to send JSON with cpr, if you're still looking for a way to send JSON, tell me if you find anything

[2021-09-19 15:02] TruncatedDinosour commented on #163
Managed to make it work:
[code]

[2021-09-20 09:46] sixdenip opened #640 "HTTP bad response exceptions"
**Is your feature request related to a problem? Please describe.**
When having to process a response of a request, it can be painful and repetitive to do a switch-case on all the possible code returned by a given API just to throw exceptions.

**Describe the solution you'd like**
Having the equivalent of Python's Requests [raise_for_status()](https://docs.python-requests.org/en/latest/api/#request

[2021-09-20 10:53] COM8 commented on #640
Good idea.
Any chance, you would like to create a PR for it?

[2021-09-20 12:34] sixdenip commented on #640
Submitted PR #641

[2021-09-21 14:18] vyzaq opened #642 "add support for CURLFORM_FILENAME"
It will be useful to set CURLFORM_FILENAME option when uploading files to override the filename from the path.

[2021-09-22 07:21] COM8 commented on #642
Would you like to create a PR for this?

[2021-09-23 10:05] AnassHmida opened #643 "No .a or .so in cpr/lib"
Good morning
im new to the cpr library and i wanted to link it to my tizen wasm project ,i cloned the library and build it using these commands :

[code]

then when i want to import the library , i used the c++ linker > library , i added the cpr/build/lib path ( -L ) and called cpr in my (-l ) , it  shows me an error saying

wasm-ld: error: unknown file type: /Users/macOs/cpr/build/lib/libcpr.dyli

[2021-09-23 10:10] AnassHmida commented on #643
When i remove the c++ library linker only c++ compiler > include ,

this error shows up

[code]

im lost tbh

[2021-09-23 10:12] KingKili commented on #643
Reading your report, I assume you are running macOS, and it seems like you built cpr natively. Therefore, a dylib is built.
In order to link against cpr you must build it for WebAssembly, usually this is done using a toolchain. Generally I'd recommend including it a CMake Subproject.

[2021-09-23 11:00] AnassHmida commented on #643
You are correct , im using MacOs.
as i mentioned , im new to all c++ oriented things , can you please provide me with a source that can help build the library using toolchain ? im lost.

[2021-09-23 11:33] KingKili commented on #643
Unfortunately not really, usually you have some kind of CMake toolchain file in your WASM toolchain.
This file will then be refereed during the configuration phase of CMake e.g. `cmake .. -DCMAKE_TOOLCHAIN_FILE=path/to/file`.
As a little pointer here are the corresponding [CMake Docs](https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling).

[2021-09-23 13:57] AnassHmida commented on #643
Thank you for setting me on the right path , i highly appreciate it KING.

[2021-09-23 14:59] KingKili commented on #643
No Problem

[2021-09-23 14:59] #643 closed

[2021-09-23 16:12] #116 closed

[2021-09-24 10:50] #610 closed

[2021-09-28 06:33] COM8 commented on #455
Done in #645.

[2021-09-28 06:33] #455 closed

[2021-10-06 13:38] thomasgt opened #651 "Warning about class with virtual functions and non-virtual destructor"
After including cpr in one of our projects, we noticed the following warnings about classes with virtual functions and non-virtual destructors.

[code]

We are building our project with Visual Studio 2019 (MSVC 19.29.30038.1) with the following warning flags:
[code]

[2021-10-06 20:14] thomasgt opened #654 "CMake configuration failure when used as subproject"
## Description
I recently experienced a CMake configuration error when using cpr as a subproject. In this case, I was pulling the project in using CMake's FetchContent, but I suspect this could happen when including cpr as a Git submodule.

## Expected Behavior
Successful CMake configuration and generation

## Actual Behavior
The error shown below:
[code]

## Possible Fix
`cpr/CMakeLists.txt` uses

[2021-10-07 03:50] #457 closed

[2021-10-07 08:04] #654 closed, assigned to KingKili

[2021-10-07 20:37] adventurist commented on #634
Confirming I've also hit this

[2021-10-08 11:08] ollien commented on #634
@COM8 yep, I'll take a look as soon as I can. I'm confused how this happened

[2021-10-08 21:35] ollien commented on #634
Ok, I've done some digging, but I'm unsure about a full resolution at the moment (cpr was the first and only work I did with Conan). This warning is pretty prominently displayed when you go to install `cpr` with Conan.

[code]

Changing the ABI as it suggests seems to make everything work as expected. It even makes some level of sense if you look at the [valgrind errors](https://gist.github.com/ol

[2021-10-09 14:34] COM8 commented on #634
Aha! Thaks for investigating @ollien

[2021-10-10 15:22] #134 closed

[2021-10-13 21:24] marksaenger opened #656 "CURLOPT_POSTREDIR support?"
I can see that `CURLOPT_POSTREDIR` is supported in master, but not on any tagged releases.  Will this be supported in the upcoming 1.7.0 release?

[2021-10-14 07:13] #656 closed, assigned to nobody

[2021-10-18 07:19] #164 closed

[2021-10-18 07:22] COM8 commented on #191
Should be fixed in https://github.com/libcpr/cpr/pull/645

[2021-10-18 07:22] #191 closed

[2021-10-18 23:41] armour1972 opened #661 "raw_header does not work anymore"
## Description

[2021-10-19 12:13] SpriteOvO opened #662 "add_library CURL::libcurl even if the target exists"
## Description
I reported an issue microsoft/vcpkg#20789 in the `vcpkg` repo, after some discussion and test code, we think this is a bug of `cpr`.

## Expected Behavior
No error
[code]

## Actual Behavior
There is one.

## Possible Fix
Maybe remove this line or rename the target.
https://github.com/libcpr/cpr/blob/b819f72baa86f452b93df5dd0f1c629df9c6c4a4/CMakeLists.txt#L218

## Steps to Reproduce

[2021-10-19 13:01] #662 closed

[2021-10-19 21:43] armour1972 commented on #661
I am sorry, I will try to explain what is going on.
I have installed the CPR library one year ago. For some reasons I reinstalled windows and all stuff and installed CPR again using vcpkg as the first time.
The following code:

#include <cpr\cpr.h>
#include <iostream>

int main()
{
	std::string host = "x07.x12.x05.x32";  // I will omit the host here

	std::string url = "http://";
	url.append(host)

[2021-10-20 20:47] nahall opened #667 "Serialize requests for later"
**Is your feature request related to a problem? Please describe.**
I have an application where it would be useful to build the entire HTTP request, including POST data, but not submit it right away, but rather serialize the request and save to disk so it can be submitted later.

**Describe the solution you'd like**
Serialization support in cpr would be useful. If there is currently a way to do thi

[2021-10-26 11:21] anjisZhou opened #668 "cpr 1.6.2 cannot support macos 10.14"
A system above 10.15 is normal.

`System Integrity Protection: enabled

Notes:                 Translocated Process

Crashed Thread:        0

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

Termination Reason:    DYLD, [0x4] Symbol missing

Application Specific Information:
dyld: launch, loading dep

[2021-10-30 10:21] nidhaloff opened #669 "Question about Get requests"
I'm searching for a lib to create an http client in c++. This lib looks perfect, however, for some reason, I'm not getting a response when making a very simple get request using a fake JSON generator. This is just a question from my side, I don't believe it's a bug in the lib so I'm just asking here.

## Description

Here is my very simple example:

[code]

## Expected Behavior
Well I expected to

[2021-10-30 10:47] KingKili commented on #669
Thanks for the good first issue. It seems like something with OpenSSL is broken again. As a quick workaround until this issue is resolved I'd recommend using the ubuntu curl version from apt (`libcurl-dev`). You than can force CMake to use os curl during configuration phase using  `cmake .. -DCPR_FORCE_USE_SYSTEM_CURL=ON`

[2021-10-30 11:08] KingKili commented on #669
I have created a PR which fixes the issue for me. Once it is merged, please let me know if it worked for you too.

[2021-10-30 11:21] nidhaloff commented on #669
@KingKili wow thanks, you are right.

Steps that I made for this to work:
- sudo apt install libcurl4-openssl-dev
- cmake .. -DCPR_FORCE_USE_SYSTEM_CURL=ON

[2021-10-30 11:21] #669 closed

[2021-10-30 12:15] nidhaloff commented on #669
@KingKili I'm working on the same example but now I'm using conan to build the project instead of "FetchContent" (readme example), but I get segmentation fault when I run the binary. Do you maybe have any ideas why is this happening?

[2021-10-30 12:18] KingKili commented on #669
@nidhaloff Sounds like #634. The fix was adding `conan_basic_setup()` to the `CMakeLists`. Does it help?

[2021-10-30 12:23] nidhaloff commented on #669
@KingKili thanks for the suggestion, but I already done that. Here is my cmake setup:

[code]

If I remove (TARGETS) from conan_basic_setup then the build fails:
[code]

[2021-10-30 12:30] KingKili commented on #669
Strange than try adding `add_definitions(-D_GLIBCXX_USE_CXX11_ABI=0)
`

[2021-10-30 12:34] nidhaloff commented on #669
@KingKili Thanks, It worked!
I'm not so familiar with cmake, can you please explain what does that line does or rather what the problem was?

[2021-10-30 12:43] KingKili commented on #669
Essentially conan and CMake use different libcxx ABI versions. If your are more interrested feel free to take look at #634 especially [here](https://github.com/libcpr/cpr/issues/634#issuecomment-939153553).

[2021-10-30 22:52] FryingDutch opened #672 "Docker / CMake"
Hi,

Im trying to use CPR in one of my existing projects, and have trouble getting to link it statically.
Since I am using docker multistage, i prefer to end up with one file at the end. On which all dependencies have been statically linked.

However, I have trouble statically linking the libraries, and therefore get the errors:
#13 16.64 main.cpp:(.text.startup+0x1516): undefined reference to `cp

[2021-11-01 07:41] KingKili commented on #672
You forgot to a `target_link_library(fileServer PUBLIC cpr::cpr)` [CMakeLists](https://github.com/FryingDutch/EW_LibraryHub/blob/main/src/CMakeLists.txt). Also I can not see where you add cpr, if this is also missing either add a `fetch_content`, or a `find_package`.
I think this is no issue of cpr, therefore I will close it. But if you need further assistance, just answer this message, and I will

[2021-11-01 07:41] #672 closed

[2021-11-01 08:17] COM8 commented on #667
Since this is nothing we can do, I will close this one for now.

[2021-11-01 08:17] #667 closed

[2021-11-01 08:17] #635 closed

[2021-11-01 18:01] FryingDutch commented on #672
Actually I dont use it as documented. I am building CPR in my [DockerFile](https://github.com/FryingDutch/EW_LibraryHub/blob/main/Dockerfile). And this is ment for when I dont build using fetch content, since I wanna seperate the building of my own CMake from that of cpr. In the production stage the program I am building shouldnt have any .dll dependencies, therefore I wanna link cpr statically. H

[2021-11-01 19:17] KingKili commented on #672
Nethertheless your are required to tell CMake, to link against CPR.
The most simple solution I can think of ,is using the install target in the docket file. Than should be able to `find_package` CPR. If this works you than should be able to link against `cpr::cpr`.

[2021-11-02 13:48] bokket opened #673 "Is there a chat room here somewhere to discuss issues?"
Hi.I am very interested in this library. It feels like there are several futures worth discussing, where can I find a place to discuss with committers? For example, `Matrix, discord, slack, telegram`, which I don't seem to see in the introduction...
Looking forward to your reply,thanks.

[2021-11-03 08:44] KingKili commented on #673
Great Idea! I'd probably prefer something which is linked somehow to GitHub, but have nothing specific in mind.
Has anyone some experiences with such platforms?

[2021-11-03 09:20] bokket commented on #673
I use all four frequently to connect with the open source community, and in general a table might roughly summarize them.

<!DOCTYPE html><meta http-equiv="content-type" content="text/html; charset=utf-8"><figure class="md-table-fig" cid="n2" mdtype="table" style="box-sizing: border-box; margin: 1.2em 0px; overflow-x: auto; max-width: calc(100% + 16px); padding: 0px; cursor: default; color: rgb(51

[2021-11-03 12:39] KingKili commented on #673
Thanks for the the nice overview. I think gitter fits best to what I have in mind. @COM8  what is your take?

[2021-11-03 12:56] KingKili commented on #673
After a thorough discussion with COM8 we decided to opt for [gitter](https://gitter.im/libcpr/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link). Thanks again for the great idea!

[2021-11-03 12:56] #673 closed

[2021-11-04 20:08] ZackOfAllTrades opened #674 "Better windows support"
I'm having a terrible time trying to build cpr on windows.

**Describe the solution you'd like**
I'm fairly new to cmake so maybe Im missing some assumed knowledge,  It would be nice to have a beginner friendly verbose setup guide.  Im not sure what OpenSSL has to do with it or how to set it up so cpr can use it but it seems like it won't work without it.

[2021-11-05 08:20] KingKili commented on #674
Regarding your Issue, your are definitely on the right track. OpenSSL with your configuration only required for testing. Therefore setting `CPR_BUILD_TESTS_SSL=OFF` should resolve this Issue. I would try removing the build directory, and then running
[code]
Usually this should resolve your Issue.

I totally agree that the Windows support of cpr and it's docs, is best described as lacking. Unfortun

[2021-11-07 21:17] ShellarFX opened #678 "Response encoding"
I make a request for a site using this code, the site is in Russian.

[code]

The problem is that the Russian letters are not specified correctly.  The console encoding is CP1251, i.e.  if you manually specify Russian letters for printing to the console, then everything is displayed as it should.  What is the problem?

![D5C18D56-CBF3-4EF5-9BB1-48B770546630](https://user-images.githubusercontent.c

[2021-11-08 13:10] COM8 commented on #678
This could be because by c++ not having proper `utf-8` support for `std::string` and therefore `std::cout`.
You might need to interpret your text your self. https://stackoverflow.com/a/50407375
What version of c++ do you use?

[2021-11-08 13:14] COM8 commented on #678
And you are using `CP1251` as encoding for your terminal, but you request the text as `utf-8`.

[2021-11-08 17:29] ShellarFX commented on #678
Thanks! I have solved this problem. I'm using C++20

[2021-11-08 17:57] #678 closed

[2021-11-19 17:48] feedhandler opened #679 "Building as static library doesn't include libssl and libcrypto"
Hi, thanks for creating this library, it's really great.

When I build as a static library, like this
[code]
it works OK, and creates libcpr.a, libcurl-d.a, and libz.a

However, when I try to build my app using those static libs, I get linker errors about undefined references to functions from libcrypto and libssl.

Is there a way to bundle those two libs together with the three that are currently

[2021-11-21 21:19] daixtrose opened #680 "SSL certificate problem: unable to get local issuer certificate"
## Description

The following  rather innocent code that once used to work stopped working a few weeks ago:

[code]

## Expected Behavior

A response containing useful data

## Actual Behavior

This code yields

[code]

In a crosscheck I can reach the GitHub server with a bash shell script, so something else must be wrong. Any idea?

## Possible Fix

-

## Steps to Reproduce

See code above.

## C

[2021-11-21 22:26] vende11s opened #681 "Can't static link visual studio 2019"
I can't compile statically due to this error:
![image](https://user-images.githubusercontent.com/74505994/142781252-4d6a59e6-bc25-4211-ade3-76d8cd58d2c8.png)
Anyone knows how to repair it?

[2021-11-22 07:38] KingKili commented on #679
Sorry for the late responce, I was quiet busy lately.

You are right, we always use the system curl on your system, therefore it will not be built static. But you can also try setting `OPENSSL_USE_STATIC_LIBS=True` see [cmake docs](https://cmake.org/cmake/help/latest/module/FindOpenSSL.html).
Let me know if this already helps.

[2021-11-22 07:40] KingKili commented on #680
Can you please try the latest cpr Version from master, since we fixed a SSL issue.
If this does not do the trick, I would recommend you to use system curl as a workaround for now, `CPR_FORCE_USE_SYSTEM_CURL=ON`

[2021-11-22 07:40] KingKili commented on #681
How did you include cpr?

[2021-11-22 07:51] vende11s commented on #681
#include<cpr/cpr.h>

[2021-11-22 08:05] KingKili commented on #681
Sorry I worded my question wrong.
How did you install cpr (conan, vcpg, ...).
Did you specify in install method that you want to build cpr statically?

[2021-11-22 08:59] vende11s commented on #681
I've used vcpkg without specifying anything, just commands from readme

[2021-11-22 18:18] vende11s commented on #681
I didn't see #361 before, after that i've got these errors:
![image](https://user-images.githubusercontent.com/74505994/142913702-05b2b539-e5dc-40b6-a866-bff5536d6fd1.png)
Then I added `CURL_DISABLE_LDAP;CURL_STATICLIB;` to preprocessor definitions and
` libcurl.lib;ws2_32.lib;winmm.lib;wldap32.lib;Crypt32.Lib;` to Linker->Input->Additional dependencies
That was the answer, thanks for help!

[2021-11-22 18:18] #681 closed

[2021-11-24 11:03] daixtrose commented on #680
Many thanks! The update fixed it. Is a new release planned?

[2021-11-24 11:10] KingKili commented on #680
Should be, and will be!

[2021-11-29 01:35] deadash opened #683 "How to disable post request compression"
## Description
When I use a post request to upload a file, if the file is a bit big, it will be automatically compressed, and I need to upload it as it is.

## Expected Behavior
Upload without compression

## Actual Behavior
Will be compressed by gzip, the file header is pk

## Possible Fix
Don't know how to do it, maybe curl has the answer?

[2021-11-30 08:25] feedhandler commented on #679
Thanks. Unfortunately adding that flag gives another error:

[code]

I'm not able to change the machine libs, so I guess I will have to use the shared build.

Thanks

[2021-11-30 08:25] #679 closed

[2021-11-30 12:41] COM8 commented on #683
As far as I'm aware curl does not automatically compress files for upload. But perhaps it does it in case the server announces gzip support.

What happens if you do something like:
[code]

[2021-12-01 03:45] deadash commented on #683
The client sends a POST request directly, how does it know whether the server supports it? Did the server reject it after sending it?

The following is to view the sent header
Accept-Encoding: deflate, gzip

Through your tips, after I modified the code
Accept-Encoding: identity

Lines of code related to this， https://github.com/libcpr/cpr/blob/bcb7729dd6d930820fb858f63c97ad559241b789/cpr/session.c

[2021-12-03 09:04] COM8 commented on #683
Sorry, I do not understand your reply there.

I understood:
* This fixed it.
* We are enabling compression for send data with the line you are highlighting.

[2021-12-03 09:07] COM8 commented on #668
Could you please retry your code with cpr 1.7.0?
https://github.com/libcpr/cpr/releases/tag/1.7.0

[2021-12-03 12:56] deadash commented on #683
Yes, your answer fixed it.

I hope this setting can be easily set. Just like setting Proxies.

[2021-12-03 15:25] mfouesneau opened #685 "Segmentation fault on cpr::Parameters construction"
[code]
[code]

## Description

I can use cpr with a complete URL, even manually adding the parameters. However, using `Parameters` would make it easier.

I get a segmentation fault at the construction.

## Your Environment

* Version used: 1.6.2 (from conan repository)
* Where did you get it from (e.g. conan, vcpkg, master, ...): conan
* Operating System and version: linux ubuntu
* Link to a small

[2021-12-05 12:03] COM8 commented on #685
Thanks for reporting. Could you please provide a minimal example project, where this Segmentation fault happens?

[2021-12-06 09:10] mfouesneau commented on #685
The project is minimal
[code]

[2021-12-06 15:27] COM8 commented on #685
Could you please provide a minimal example with your build system since I can not reproduce it.

[2021-12-07 13:34] mfouesneau commented on #685
This is a messy project https://github.com/mfouesneau/blackbodystars
but you can see the [src/cpr_test.cpp](https://github.com/mfouesneau/blackbodystars/blob/main/src/cpr_test.cpp)

My best guess is that I must be missing a linked library but I do not see which one.

[2021-12-07 17:26] COM8 commented on #685
Thanks! I will have a look at it tomorrow.

[2021-12-08 16:23] COM8 commented on #685
OK, I was able to reproduce this error. It looks like something is broken with the conan package. @KingKili do you have time to update the conan package to 1.7.0?

[2021-12-08 16:29] COM8 commented on #685
Like mentioned here: https://github.com/libcpr/cpr#building-cpr---using-conan

Please try adding `add_definitions(-D_GLIBCXX_USE_CXX11_ABI=0)` to your CMakeLists.txt

[2021-12-08 16:55] mfouesneau commented on #685
Thanks! Since I was getting seg fault, I did not expect this was the issue.

[2021-12-10 10:18] tangm421 opened #686 "error when cross-compile"
## Description

This repo can be succeed compile and run on ubuntu20 and win10，but it failed when cross-compiled

At the beginning, many warning errors will be reported due to the existence of the `-Werror` flag. When I commented out this line
[code]
at `_deps/cpr-src/CMakeLists.txt` and cross-compiled, the following errors was reported

## Expected Behavior

## Actual Behavior

[code]

## Possibl

[2021-12-10 12:04] KingKili commented on #686
I would say, the old gcc version can be the reason. But can you please also show me the error output with the warning flags?

[2021-12-10 12:29] tangm421 commented on #686
Sure, This is the errors report after I restore the original file `_deps/cpr-src/CMakeLists.txt` like this
[code]
Due to too many hints, only a few notable ones are shown here

[code]
AND CONTINUES...
[code]

Perhaps these are also caused by the incomplete C++ supported gcc version?

[2021-12-10 13:19] #685 closed

[2021-12-10 14:41] KingKili commented on #686
I would say yes. It seems like your compiler does not support defaulted constructors.

[2021-12-11 12:52] tangm421 commented on #686
well, maybe next time when I have a chance to use a newer version of gcc. I will let you know if there is any progress then.

[2021-12-12 12:47] KeyToon9 opened #687 "Can ProgressCallback be used in (Session.)Download?"
**Is your feature request related to a problem? Please describe.**
Now I only can use WriteCallback with Download function, but I also want to use ProgressCallback during Download.
Or I do not find some way to bind Progress function to Download?

[2021-12-13 12:23] tangm421 commented on #686
Hi there
I upgraded the cross-compilation toolchain to `arm-hisiv600-linux`,
[code]

## Behavior
some of those warning errors still exist. However the error about default constructor disappeared.
[code]

## Behavior after blocking warning
So I commented out the `-Werror` line of `_deps/cpr-src/CMakeLists.txt` and compiled again. Some new errors have occurred.
[code]

## My Environment
### main sou

[2021-12-13 13:22] KingKili commented on #686
Interresting, can you try changing [curlholder.h](https://github.com/libcpr/cpr/blob/beb9e98806bb84bcc130a2cebfbcbbc6ce62b335/include/cpr/curlholder.h#L28) to `std::array<char, CURL_ERROR_SIZE> error{0};`

[2021-12-14 02:15] tangm421 commented on #686
Unfortunately, I tried to link stdc++ to my target, but those link errors still exist
[code]

`cat CMakeFiles/qwe.dir/link.txt`
[code]

[2021-12-14 07:35] COM8 commented on #687
The following works for me:
[code]

Could you please give a more concrete example what is broken for you?

[2021-12-14 10:32] RKolla99 opened #688 "Instructions for building source code"
Provide instructions for building the cpr source code. Any CMake flags/options to be aware of, and the make commands that need to be executed.

[2021-12-14 11:33] #688 closed

[2021-12-14 11:33] RKolla99 commented on #688
Opened it as a question

[2021-12-14 11:37] RKolla99 opened #689 "Building from source"
How do we build this library from source code? I want to use it in a project which uses a Makefile and doesn't have CMake utilities.

Here is what I tried -
[code]

I used the sample program provided in the README -
[code]

I use g++ to compile the program -
`g++ cprtrial.cpp`

I run into a bunch of linker errors.

[code]

I'm not sure if this a problem with the way I Installed cpr or something re

[2021-12-14 12:26] COM8 commented on #689
Try linking against cpr with: `g++ cprtrial.cpp -lcpr`

[2021-12-15 11:45] RKolla99 commented on #689
Ahh alright, the linker errors are resolved now after linking with -lcpr.
Given that I use Ubuntu and had to build from source, I was wondering if I could create a .deb package and make it available with the apt package manager?

[2021-12-16 07:41] KingKili commented on #686
Weird. Can you try adding a implementation externally

[2021-12-17 08:26] COM8 commented on #689
Wouldn't it be possible to make this possible via a GitHub Actions pipeline?
Would you like to work on that?

[2021-12-17 09:48] KingKili commented on #689
I don't think GitHub Actions is feasible. In my opinion going into the official repositories is the way to go for cpr. But first we are required to add the ability to `deb` and/or `rpm` files.

[2021-12-17 11:41] COM8 commented on #689
Agree. But I was thinking if it was possible to automatically build those `deb`/`rpm` packages by the CI for each new release. This makes it then easier to maintain those.

[2021-12-17 20:30] ChrisNelson-CyberReef opened #691 "cpr library error: 'getaddrinfo() thread failed to start' running application in VRF"
## Description

I'm writing an application that needs to access a remote REST API from a Linux (Ubuntu 20.04) system secured by Virtual Routing and Forwarding.

If I run my application no special setup, I'm unable to resolve the remote server by name.  This is an expected consequence of the server security.

If I run my application in the VRF environment by prefixing it with `ip vrf exec mgt`, I g

[2021-12-27 02:29] spralja opened #693 "(0xC0000135) error, using example code"
I'm getting this error code when attempting to run the example code provided in the README:
[code]

CMakeLists.txt:

[code]

But when I attempt to run a I am prompted by a return value (0xC0000135)

[2021-12-27 05:14] COM8 commented on #693
Is the main returning `0xC0000135)`? What OS are you running on?

[2021-12-27 06:03] KingKili commented on #693
We are missing the return value for main in the example. Thanks, I will fix it!

[2021-12-27 10:01] christk1 opened #694 "can't find system curl"
I tried to enable system curl with ```CPR_FORCE_USE_SYSTEM_CURL=ON```  by building using cmake but I get the following error:
[code]
I am using ubuntu 21.04 and curl is installed in my system:
[code]
I need to enable system curl because I am using smtp which is not supported by the curl installed along with cpr.
Is there any way of enabling smtp or use the system curl?

[2021-12-27 10:34] RKolla99 commented on #689
Yeah sure, sorry for the delayed reply though. I see that there is a 'build-deb-action' and a 'build-rpm-action' that builds the packages like you suggested. I wonder these actions can be used?

[2021-12-27 10:42] COM8 commented on #689
Yes sure. If something like this already exists as a template we should use it.

[2021-12-27 10:44] COM8 commented on #691
Thanks for reporting. I will have a look at this.

[2021-12-27 10:50] COM8 commented on #694
How did you install `libcurl` since this looks like you are missing the developer package for it?
Please try: `sudo apt install libcurlpp-dev`

Is there a specific reason you need SMTP for? I'm asking since if its general enough we could enable it for the build in version as well.

[2021-12-27 10:52] COM8 commented on #693
But in theory then the compiler should automatically insert `return 0;` if nothing else goes wrong.

[2021-12-27 11:47] spralja commented on #693
Yes; I am using Windows.

The problem is not the missing return statement.

This code produces the same invalid return value (the execution is terminated without executing the print statement):

[code]

Whereas, this code run's normally:

[code]
[code]

[2021-12-27 15:53] christk1 commented on #694
libcurl is preinstalled with the distro. I am using SMTP to send emails using simple curl functions

[2021-12-28 07:04] COM8 commented on #694
But why would you then use cpr for it? We do not provide any explicit interface for SMTP in libcurl.

[2021-12-28 08:08] COM8 commented on #691
Could you please give me some hints on how to set this up for testing?
Since when I run `ip vrf exec mgt curl https://google.com` I just get `Invalid VRF name`.

[2021-12-29 16:54] christk1 commented on #694
I used cpr in my entire project for sending requests. I used native curl for emails as cpr does not support email sending.
I forked the repo and enabled smtp and other features of libcurl in the building process so my issue is fixed. Thanks for your support

[2021-12-29 16:54] #694 closed

[2021-12-30 17:33] daixtrose commented on #680
Sorry, folks. I pulled the latest updates from `master` today and now the error is back. Could you please check again?

[2021-12-30 18:09] daixtrose commented on #680
The error seems to stem from a tainted build. It seems CMake does not correctly recognize the update of cpr. Deleting everything in `build` and a complete rebuild fixes the issue again. Sorry for the noise, I should have checked before reopening.

[2021-12-30 18:16] #680 closed

[2022-01-03 02:07] georgeanderson commented on #693
@spralja Have you tested with another endpoint that doesn't require authentication?

[2022-01-03 07:13] COM8 commented on #693
@spralja Could you please try building this example project as I'm not able to reproduce your issues on Windows.
https://github.com/libcpr/example-cmake-fetch-content

[2022-01-03 08:40] KingKili commented on #686
I will close this Issue because of Inactivity. If it still persists, feel free to reopen.

[2022-01-03 08:40] #686 closed

[2022-01-03 08:44] COM8 commented on #687
Closing for inactivity.

[2022-01-03 08:44] #687 closed

[2022-01-03 14:44] ChrisNelson-CyberReef commented on #691
In  that command, `mgt` is the VRF name.  I didn't create our VRF and I'm not sure of the process but https://interpip.es/linux/creating-a-vrf-and-running-services-inside-it-on-linux/ may help.

[2022-01-07 19:19] MaritimeMartin commented on #693
[code]

When uncommenting the Get line it throws.
`Process finished with exit code -1073741515 (0xC0000135)`

[2022-01-08 12:59] COM8 commented on #693
@MaritimeMartin how do you build cpr?
Did you try building this example: https://github.com/libcpr/example-cmake-fetch-content

[2022-01-09 18:05] spralja commented on #693
The provided example does work.

[2022-01-09 21:38] Leon0402 commented on #445
I ran into this issue on Arch as well. I already had `ca-certificates` installed. I then played around a little bit with different urls, because I suspected this to be a server problem (my server is self signed). Now all of the sudden everything works and I can't reproduce the error anymore.
I don't really trust it to be fixed, but I'll see.

[2022-01-09 21:45] Leon0402 commented on #560
The issue was confirmed by cmake developers here: https://gitlab.kitware.com/cmake/cmake/-/issues/22909

It seems an fix wouldn't be too difficult, but I currently lack time and knowledge to fix it myself, so I need to wait until someone will fix it. Maybe upvoting it will help.

Currently I use the following workaround:

[code]
This will reset BUILD_TESTING to its previous value.

Maybe a note sh

[2022-01-10 19:29] COM8 commented on #693
Hmmm... This is not the result I would have hoped for 😂😂.
Now it gets interresting. Probably next weekend I will have time to have a look at this again in detail.

[2022-01-11 09:45] COM8 commented on #668
Closing for inactivity.

[2022-01-11 09:45] #668 closed

[2022-01-11 14:57] gerardcarbo commented on #680
Using the master branch we still are experiencing the error: 'SSL certificate problem: unable to get local issuer certificate' in a POST with body https request. Configuring CPR_FORCE_USE_SYSTEM_CURL=ON solved the problem.

[2022-01-16 12:27] COM8 commented on #693
OK, probably found the cause. Try adding this to your CMakeLists.txt:
[code]

On Windows you need to specify that CMake places the libraries inside the same dir like the executable if linking dynamically.
Or you could specify the lib paths when executing.

[2022-01-17 14:49] shakfu opened #695 "add option to statically compile cpr (+dependencies)"
The current option compiles the libcpr to a shared library.

May I suggest an additional option to statically compile cpr.

Thanks

[2022-01-17 15:14] KingKili commented on #695
I suppose [BUILD_SHARED_LIBS](https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html) is what you are looking for.
Please let me know if it does not work for you.

[2022-01-18 06:19] shakfu commented on #695
Actually, I'm only getting `.dylib` (shared) libraries from the regular cmake compilation, I was looking for statically compiled libraries: with the `.a` suffix.

[2022-01-18 08:18] KingKili commented on #695
Have set `BUILD_SHARED_LIBS` to false?
E.g. `cmake .. -DBUILD_SHARED_LIBS=FALSE`

[2022-01-18 09:21] shakfu commented on #695
Thanks @KingKili . 👍

That worked nicely. It's good to know in general (I just started using cmake).

[2022-01-18 10:42] shakfu opened #697 "cpr.h includes a cpr/cprver.h which doesn't exist"
Just tried to compile cpr and it gave an error because `cpr.h` includes a header `cpr/cprver.h`, but it doesn't exist in the source tree.

[2022-01-18 10:52] KingKili commented on #697
cprver.h is generate by CMake and placed into the build directory. Usually CMake does take care to set the required include flags. But since you are facing issues, how did you build cpr?

[2022-01-18 10:53] KingKili commented on #695
No problem, everyone starts at some point.

[2022-01-18 10:53] #695 closed

[2022-01-18 11:00] shakfu commented on #697
Thanks for the clarification. You are right. My bad.

It was a little confusing because the cmake bid also creates an `include` directory which was empty and I missed, somehow, the `cpr_generated_includes` directory which contains `cpr/cprver.h`

[2022-01-18 11:53] KingKili commented on #697
Great, to hear that I could help.

[2022-01-18 11:53] #697 closed

[2022-01-19 14:27] spralja commented on #693
Yes, that seemed to be the problem. Thanks

[2022-01-20 13:53] #693 closed

[2022-01-31 07:31] tomaszewskip commented on #501
Hi, I have a patch, which adds `AsyncResponse DownloadAsync(std::string local_path, Ts... ts)` to the CPR 1.6.2. I would like to share it, but I do not see any option to attach a patch file (nor plain text) here.

[2022-01-31 08:38] KingKili commented on #501
Cool, can you create a PR with your changes?

[2022-01-31 08:46] COM8 commented on #501
@tomaszewskip https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request might help. Let us know if you need help with that.

[2022-01-31 09:13] tomaszewskip commented on #501
Please see PR: https://github.com/libcpr/cpr/pull/698

[2022-01-31 12:15] cschreib opened #700 "cpr.h includes windows.h on Windows"
On windows, `cpr.h` includes `curl.h`, which itself includes `windows.h`.

## Description
The `windows.h` header is a very annoying header, which defines a number of common words/expressions as macros (such as `min`, `max`, `CopyFile`, etc.). It is usually a bad idea to include it in a header, as it then pollutes all files including said header. For example, it prevents us from creating our own fu

[2022-01-31 12:37] KingKili commented on #700
I agree that we should not include curl.h in cpr headers. I can work on this after my exams.
Unfortunately, we currently require curl in the headers for version detection. This propably be also achieved using CMake @COM8 what's your take on this?

[2022-01-31 13:06] COM8 commented on #700
Agree. In theory we could replace it with `#include <curl/curlver.h>`, which only includes [version information](https://github.com/curl/curl/blob/master/include/curl/curlver.h).

[2022-02-08 19:31] oofsamy opened #702 "Linking CPR resolves to linker errors (VS19)"
## Description

I'm trying to build a plugin that uses BMSDK (BakkesmodSDK), and I am linking this library as I usually use it for every C++ project of mine that has required http requests, but upon building I came across a lot of linker errors, as shown below, I've tried the first 5, 6 solutions I've seen (most were the same, to just set the "RuntimeLibrary" to "Multi-threaded", though it was alr

[2022-02-09 06:38] COM8 commented on #702
Looks to me like you try to link a shared version of `cpr` to your static project.
Try to install `cpr:x64-windows-static` and link against this one.

Regarding linking on Windows: This is always a pain since there is no general location on Windows, where you can store libraries like on Linux. Also VS obscures all of this even more. While this might be fine for small projects, it's a hassle for la

[2022-02-13 10:27] loganbaby opened #703 "How to set http proxies?"
How to set http proxies? Where can I find the documentation?

[2022-02-13 10:31] loganbaby commented on #703
Can I do it like that?<br>
cpr::Post(cpr::Url(site), cpr::UserAgent{{__getRandomUserAgent()}},
                  cpr::Proxies{{"203.13.32.106", site}});

[2022-02-13 12:09] COM8 commented on #703
This might help: https://docs.libcpr.org/advanced-usage.html#using-proxies

[2022-02-13 12:09] #703 closed

[2022-02-16 13:02] 1Klas opened #704 "Problems with HTTPS requests."
## Description
The problem occurs when I'm trying to send any type of request to an https server. With http it works just fine.
If server supports both, http and https it also works when I'm trying to send https request. To make sure that issue is actual
I tried to install libcpr on another computer, and it did the same. Moreover, I used libcpr for a month and there were no problems ever, but as s

[2022-02-16 16:45] COM8 commented on #704
I'd say this is a vcpkg issue since this depends on how you they build cpr.
What happens, if you add the following code:
[code]

[2022-02-16 17:29] 1Klas commented on #704
I also think it's vcpkg issue. Here's the result after running your code, I did it in a little other way, because "<<" operator isn't capable of operating with cpr::ErrorCode data type. https://imgur.com/dg31X7p

[2022-02-16 22:43] 1Klas commented on #704
I just downgraded the library to the older build, and it works smoothly, so the problem for me personally is closed. I'm waiting for your further instructions if I can help somehow.

[2022-02-18 02:14] kkdiy opened #705 "Content-Type after cpr::Buffer doesn't work"
while
std::vector<unsigned char> code{ 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd' };

auto test = cpr::Multipart{
				 {"action", "update"},
				 {
				    "file", cpr::File{ "test.txt"},"image/jpeg"
				 }
			    };
Content-Type：image/jpeg works fine
but
std::vector<unsigned char> code{ 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd' };

				auto test = cpr::Multipart{
				 {"act

[2022-02-18 07:58] COM8 commented on #704
OK, what happens then in case you are doing only this:
[code]

[2022-02-18 07:59] #705 closed, assigned to nobody

[2022-03-03 04:17] Werew1942 commented on #704
Same issue. vcpkg, windows x64 static

[code]

[code]

[2022-03-03 04:17] Werew1942 commented on #704
Any ideas how to fix?

[2022-03-03 05:35] Werew1942 commented on #704
U downgraded via `vcpkg.json` ? Pls tell me the version number

[2022-03-03 22:18] tluchowski commented on #704
I have the same problem.

After moving from cpr 1.6 to cpr 1.7.2 I am unable to do any HTTPS requests.

error.code is 4
error.message is empty

My code is as follows:

cpr::Session session;
cpr::SslOptions sslOpts = cpr::Ssl(cpr::ssl::NoRevoke{ true });
session.SetSslOptions(sslOpts);
session.SetUrl(cpr::Url{ url });
session.SetBody(cpr::Body{ body });
session.SetHeader(cpr::Header{ { "Content-Typ

[2022-03-05 14:32] COM8 commented on #704
Closing this since this is a vcpkg issue. Please open an issue over at [vcpkg](https://github.com/microsoft/vcpkg) since we can not do anything about this here sadly.

[2022-03-05 14:32] #704 closed

[2022-03-07 13:16] tluchowski commented on #704
I've just reported this as https://github.com/microsoft/vcpkg/issues/23417

[2022-03-11 09:18] LilyWangLL commented on #704
Ping @COM8

[2022-03-11 15:35] COM8 commented on #704
[code]

It looks like the named options changed in curl. I do not know too much about how vcpkg builds cpr, but this might be the cause here.
Curl uses the new ones:
https://github.com/microsoft/vcpkg/blob/e6509c997fef840f7cfdb84cf6e757b70ee283a8/ports/curl/portfile.cmake#L42-L44

But cpr uses the old ones:
https://github.com/microsoft/vcpkg/blob/master/ports/cpr/001-cpr-config.patch

To fix this

[2022-03-11 15:44] COM8 commented on #704
I've created a patch https://github.com/libcpr/cpr/commit/742fccd48393c9233e93eeffcfac21e414af4b79 for it and in case nothing else comes up I can work on a new release of cpr next week.

[2022-03-16 14:39] Pxddyk45 opened #708 "Undefined symbols for architecture arm64:"
## Source Code
[code]

## Expected Behavior
It should compile normally.

## Actual Behavior
[code]

## Steps to Reproduce
1. g++ -std=gnu++11 -I ./include main.cpp

## Your Environment
* Where did you get it from (e.g. conan, vcpkg, master, ...):
master
* Operating System and version:
MacOS 12.1

[2022-03-16 15:10] COM8 commented on #708
What version of g++ are you using?
Please try: `g++ --version`

[2022-03-16 15:43] Pxddyk45 commented on #708
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/4.2.1
Apple clang version 13.0.0 (clang-1300.0.29.30)
Target: arm64-apple-darwin21.2.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

[2022-03-16 17:33] Pxddyk45 commented on #708
I kinda fixed it, i get a different error message:
[code]
by adding -L[...]/build/lib -lcpr

[2022-03-16 17:42] #708 closed

[2022-03-17 13:24] COM8 commented on #702
Closing since no response.

[2022-03-17 13:24] #702 closed

[2022-03-17 14:09] Pxddyk45 opened #709 "Empty response text and status code 0 at example code"
## Code
[code]

## Expected Behavior
It should print the status code and the response body

## Actual Behavior
It prints 0

## Your Environment

* Where did you get it from (e.g. conan, vcpkg, master, ...): master
* Operating System and version: MacOS 12.1
*  Build System: g++/clang++

[2022-03-19 15:07] quorpz opened #710 "Some questions about cpr"
Hello, i have some questions about the library:
1. It works with socks4/socks5 proxies?
2. It works with multi-threading?

[2022-03-19 15:19] COM8 commented on #710
1. Yes: https://github.com/libcpr/cpr/issues/461
2. Yes, you can make parallel requests

[2022-03-19 15:19] #710 closed

[2022-03-19 15:37] quorpz commented on #710
and it works with socks4?

[2022-03-19 16:56] COM8 commented on #710
I guess so, since curl supports it too. Otherwise please let me know and I will have a look at it :)

[2022-03-20 00:38] LilPidgey commented on #709
This is a vcpkg issue I believe.
Check https://github.com/libcpr/cpr/issues/704 and https://github.com/microsoft/vcpkg/issues/23417

[2022-03-20 03:28] kkdiy opened #711 "Content-Type after cpr::Buffer doesn't work"
## Description

std::vector code{ 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd' };

			auto test = cpr::Multipart{
			 {"action", "update"},
			 {
				 "file", cpr::Buffer{ code.begin(), code.end(),"test.txt"},"image/jpeg"
			 }
		    };
Content-Type after cpr::Buffer doesn't work

## Expected Behavior
Content-Type: image/jpeg

## Actual Behavior
Content-Type: text/text

## Possible Fix

#

[2022-03-20 06:05] COM8 commented on #709
What happens if you add the following:
[code]

To me this looks like curl can not find certificates.

[2022-03-20 06:07] COM8 commented on #711
So, in your response the Content-Type is text/text?

[2022-03-20 07:04] kkdiy commented on #711
Content-Type: application/octet-stream

[2022-03-20 08:34] COM8 commented on #711
Where do you then expect `image/jpeg`?

[2022-03-20 09:42] COM8 commented on #158
For this feature to be possible we have to refactor `cookies.h` and replace the internal `std::map<std::string, std::string>` with for example `std::map<std::string, cpr::Cookie>`. Pushing this back to the next release.

[2022-03-20 10:57] COM8 commented on #420
https://github.com/libcpr/cpr/pull/714 adds a mew option to enable Mbed TLS.

[2022-03-20 10:58] COM8 commented on #640
Closing this one since no response and missing interest in this feature.

[2022-03-20 10:58] #640 closed

[2022-03-20 11:00] #420 closed

[2022-03-20 11:08] COM8 commented on #310
Already possible: https://github.com/libcpr/cpr/blob/335029503bbf932771931a599c1b7ed5e933b53b/include/cpr/ssl_options.h#L214-L239

[2022-03-20 11:08] #310 closed

[2022-03-20 11:09] COM8 commented on #711
Duplicate of https://github.com/libcpr/cpr/issues/216

[2022-03-20 11:09] #711 closed

[2022-03-20 12:46] Pxddyk45 commented on #709
@LilPidgey i got it from master and not from vcpkg

[2022-03-20 12:47] Pxddyk45 commented on #709
@COM8
[code]

[2022-03-20 13:51] sergeymild opened #715 "Instruction how build for ios and android"
Hello, maybe i am stupid), but i don't understand how build this library for ios and android, it would be nice to have some kind of instructions. Thanks.

[2022-03-20 13:54] COM8 commented on #709
Error Code 4 is `INTERNAL_ERROR` reported by curl. Could you please provide a minimal example, where I can reproduce your issue?

[2022-03-20 13:57] COM8 commented on #715
I've never done this for those platforms either. Sooo I need a bit more context to help you with that e.g.:
* What is your build system?
* What OS?
* Any errors?
* What did you try?

[2022-03-20 14:14] #530 closed

[2022-03-20 14:16] COM8 commented on #270
As far as I can see, there is also nothing in curl, which allows us to easily implement this. So I'm pushing this back.

[2022-03-20 14:58] sergeymild commented on #715
My build system: Cmake
What OS: Mac
Any errors: i tried build for ios and receive this error: `ld: library not found for -lsocket`
What did you try:
git clone https://github.com/libcpr/cpr
after download ios.toolchain.cmake `[os.toolchain.cmake](https://github.com/leetal/ios-cmake/blob/master/ios.toolchain.cmake)`
and put to a folder where i dowloaded cpr
after i did everything by doc

cd cpr
mkdi

[2022-03-20 17:02] Pxddyk45 commented on #709
curl --version:
[code]
Code:
[code]

[2022-03-22 02:08] fangzhou-xie commented on #445
I am using Fedora 35 with `FetchContent` and had the same issue. I used the following setup in `CMakeLists.txt` and seemed to solve the problem:

[code]

Reference: [here](https://github.com/libcpr/cpr/issues/191#issuecomment-381839838) in #191 .

[2022-03-22 11:39] COM8 commented on #715
Please try `-DENABLE_STRICT_TRY_COMPILE=ON` when configuring.

References:
* https://gitlab.kitware.com/cmake/cmake/-/issues/21971
* https://github.com/curl/curl/issues/6789

[2022-03-22 15:13] sergeymild commented on #715
yes it's works, it generated `libcpr.1.8.0.dylib`, but i need .a or .so, maybe you know what i need to do to generate .a or .so?

[2022-03-22 16:54] sergeymild commented on #715
the same was build for android as well

[2022-03-23 08:11] COM8 commented on #715
Well I don't think this is a cpr issue then and more a general build system issue where you do not target the correct system.

[2022-03-23 08:13] COM8 commented on #709
And how do you build your project? Please provide a link to either a repository or a zip file containing the example with your build system and instructions since I can not reproduce this.

[2022-03-23 13:06] Pxddyk45 commented on #709
https://workupload.com/start/u8QbEwypMp9

[2022-03-23 13:52] COM8 commented on #709
I can't compile your code since your are using dynamic libs which are not portable.
Any reason you do not use a build system like CMake.
Here is an example: https://github.com/libcpr/example-cmake-fetch-content

[2022-03-23 18:58] sergeymild commented on #715
i specified it here cmake .. -G Xcode -DCMAKE_TOOLCHAIN_FILE=../ios.toolchain.cmake -DPLATFORM=SIMULATOR64
-DPLATFORM=SIMULATOR64 - where is simulator x86_86

[2022-03-24 11:10] Leon0402 commented on #445
I found out how to reproduce the issues and why this fails.

How to reproduce?

On the first configure it will always work. If you then configure again (without deleting the build folder) it will fail.  If you delete the CMakeCache.txt and reconfigure it will work again.

So the issue is clearly something which involves cache variables

What is the issue?

In https://github.com/libcpr/cpr/blob/mas

[2022-03-24 14:06] COM8 commented on #445
This allows people to set the bundle by hand if they want.

[2022-03-25 14:03] #445 closed

[2022-03-27 20:32] evanerwee opened #718 "Unable to CMAKE a project using libcpr on Ubuntu 20 using CLion"
Absolutely any help is welcome. I have been trying for a week, still no go.

######### Linux Distro ############

Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.4 LTS
Release:	20.04
Codename:	focal

######### IDE ############
CLion 2021.3.4
Build #CL-213.7172.20, built on March 14, 2022
Licensed to Evan Erwee
Subscription is active until August 3, 2022.
Runtime version: 11.0.14.1+1-b1751.46 amd6

[2022-03-27 21:16] evanerwee commented on #718
When compiling libcpr the issue remain.

====================[ Build | all | Release ]===================================
/snap/clion/184/bin/cmake/linux/bin/cmake --build /home/eerwee/repo/cpr/cmake-build-release --target all
[197/211] Linking C shared library lib/libcurl.so
FAILED: lib/libcurl.so
: && /usr/bin/cc -fPIC -pedantic -Wall -W -Wpointer-arith -Wwrite-strings -Wunused -Wshadow -Winline

[2022-03-28 11:47] COM8 commented on #718
Could you please provide an example project where I can reproduce this?
I suggest you try using your system curl. Try configuring CMake with: `-DCPR_FORCE_USE_SYSTEM_CURL=ON`

[2022-03-28 20:52] evanerwee commented on #718
Thank you, that helped. I am good now.

[2022-03-29 06:07] #718 closed

[2022-03-30 01:57] sornian opened #719 "Add Interception just like okhttp?"
build a client to manager request for change request/response
for example
we can use Interception to encrypt/decrypt body or add baseurl ,add public header

this is okhttp demo

[code]

[2022-04-02 17:27] leviliangtw commented on #642
I'd like to take this issue.

[2022-04-02 17:28] leviliangtw commented on #683
I'd like to take this issue.

[2022-04-02 17:28] leviliangtw commented on #216
I'd like to take this issue.

[2022-04-02 17:29] leviliangtw commented on #581
I'd like to take this issue.

[2022-04-02 17:29] leviliangtw commented on #158
I'd like to take this issue.

[2022-04-02 18:14] barisconur commented on #683
I would like to work on this issue.

[2022-04-03 06:47] KingKili commented on #158
Sure go ahead. Just let me know when PR is ready. Thanks in advance!

[2022-04-03 06:47] KingKili commented on #581
Sure go ahead. Just let me know when PR is ready. Thanks in advance!

[2022-04-03 06:47] KingKili commented on #216
Sure go ahead. Just let me know when PR is ready. Thanks in advance!

[2022-04-03 06:48] KingKili commented on #642
Sure go ahead. Just let me know when PR is ready. Thanks in advance!

[2022-04-03 06:49] KingKili commented on #683
@leviliangtw @barisconur, can you both agree on one of you? Not that you both create the same solution.

[2022-04-03 08:08] COM8 commented on #719
Sounds like an interresting feature, but I'd say it has a rather low priority for us since it would require restructuring large parts of cpr.
**But** you are always welcome to create a PR for that.

[2022-04-03 08:49] simon-berger commented on #151
I intend to work on this issue within the next half year. Would be happy if I can be assigned to the issue

[2022-04-03 08:50] simon-berger commented on #265
I intend to work on this issue within the next half year. Would be happy if I can be assigned to the issue

[2022-04-03 08:54] simon-berger commented on #75
I intend to work on this issue within the next half year. Would be happy if I can be assigned to the issue

[2022-04-03 09:04] COM8 commented on #75
#701 already added basic support for it, but feel free to extend it further.

[2022-04-04 14:34] HideakiAtsuyo opened #720 "Issue #709"
## Description
It's been a long time I can't make a request anymore with cpr, I get Error 4 and no message and I only use a simple get request without any needed header etc...

## Expected Behavior
![](https://i.imgur.com/YSb7R4E.png)

## Actual Behavior
![](https://i.imgur.com/pJq8xOn.png)

## Possible Fix

## Steps to Reproduce
1. create a VS project with CPR and build/debug, example =>
![](http

[2022-04-05 06:07] COM8 commented on #720
Thanks for this well done issue!
Since this is nothing we can fix I'm closing this issue in favour of #709.
So please either downgrade cpr from vcpkg to 1.6.x or wait for this PR to be merged: https://github.com/microsoft/vcpkg/pull/23984

[2022-04-05 06:07] #720 closed

[2022-04-06 22:13] HideakiAtsuyo commented on #709
Need to update vcpkg => https://github.com/microsoft/vcpkg/pull/23984

[2022-04-06 22:22] HideakiAtsuyo opened #721 "Still Not Working"
For Full Content see => Issue #720

Even after the Pull Request [vcpkg#23984](https://github.com/microsoft/vcpkg/pull/23984) I updated vcpkg it still doesn't work.

No more details because everything is in the Issue #720

![](https://i.imgur.com/6IPzdoX.png)

[2022-04-10 00:07] HideakiAtsuyo commented on #721
@COM8

[2022-04-10 08:25] COM8 commented on #721
Sorry, but this is not a cpr issue. We do not maintain the vcpkg package.
There is already an issue there: https://github.com/microsoft/vcpkg/issues/23417

[2022-04-10 08:25] #721 closed

[2022-04-11 07:41] Deveshjoshi321 opened #722 "the return of .mp4 file is in .bin."
When ever I post .mp4 video file the return type is .bin whereas in case of image file it return .png, .jpeg, .jpg.

[2022-04-11 08:01] COM8 commented on #722
Welcome!
Please use the bug/feature template so we have a proper context regarding your issue. Also please provide a minimal example for us to reproduce your issue.

[2022-04-11 08:01] #722 closed

[2022-04-11 08:07] Deveshjoshi321 opened #723 "."

[2022-04-11 09:28] #723 closed

[2022-04-13 13:34] juansebastiani2cat opened #724 "Integration with Omnet++"
Dear all,

Perhaps this is somehow offtopic, so my apologies in advance. But, is there a way to integrate CPR into a working simulation ? I already managed to integrate CPR to a working Eclipse project, so I'm guessing there is a way to link the library into an OMNET++ simulation. I already tried linking it in a similar way as in Eclipse, in project properties -> Omnet++ -> Makemake -> Makemake Op

[2022-04-16 11:37] lootnath opened #725 "Yo lok republicOfCheenDynasty."
Yo lok republicOfCheenDynasty.

[2022-04-16 14:24] COM8 commented on #725
Aha, this looks like a bug. Could you please elaborate your finding there a bit. As far as I'm aware it should be the time of the [Gsälzbär](https://www.aeffleundpferdle.shop/WebRoot/Store22/Shops/62303218/60EA/F074/5B42/A057/8D7E/0A0C/6D0C/361C/Gsaelzbaer_solo_white.jpg)-Dynasty.

[2022-04-16 18:20] COM8 commented on #724
To me this sounds like a broken link path in eclipse. Although I've never used OMNET.
I'd say this is possible if you configure OMNET as a proxy and then forward all requests this way.

[2022-04-17 15:57] Alex-Tsvetanov opened #727 "Makefile is not suitable for paths with spaces in it"
## Description
Make is not able to execute if spaces (' ') are available in the path.

## Expected Behavior
Compilation to end successfully

## Actual Behavior
![image](https://user-images.githubusercontent.com/14363901/163722254-5a6c22cd-d566-493d-9d6a-04ca3397c5e8.png)

## Possible Fix
Add quotes in the generated Makefiles

## Steps to Reproduce
1. Run Windows with MinGW compiler
2. Run ``cmake

[2022-04-18 08:13] COM8 commented on #727
This looks like to be only a Windows Problem. On Linux I can not reproduce it.
To me this also looks like to be a zlib related issue. I will look into this roughly next weekend.

Is there a specific reason you need to use Makefiles for building?
Why not just something like this:
[code]

[2022-04-18 08:13] COM8 commented on #725
No answer :, (

[2022-04-18 08:13] #725 closed

[2022-04-18 08:18] KingKili commented on #727
And the error message would help

18 Apr 2022 10:13:31 Fabian Sauter ***@***.***>:

[2022-04-18 11:30] Alex-Tsvetanov commented on #727
The error message in on the screenshot in Actual behavior section. If you need it in text format, I will have to download the library again so give me some time todo that.

Yes, it is.

I will try that. The reason why I used make is that I am not familiar with CMake's functionalities so I just when to the Arch's AUR PKGBUILD as I am used to working with Arch Linux and saw there the ``make`` comman

[2022-04-18 22:25] Alex-Tsvetanov commented on #727
FYI ``cmake --build .`` is not working either (the screenshot is from libcurl but it is the same error as with cpr
![image](https://user-images.githubusercontent.com/14363901/163887195-937dfd76-7991-4b62-8507-42bd7dd19a11.png)

[2022-04-19 06:00] COM8 commented on #727
Why are you trying to build curl?
Could you please try building this example project:
https://github.com/libcpr/example-cmake-fetch-content

It does a great job showing how CMake works in this case.

[2022-04-19 15:05] juansebastiani2cat commented on #724
I have solved the issue. I copied the copied the library dependencies (The .so, .zlib-ng and .1 files) into my usr/lib directory. After that, I included the library through

`Project properties -> Omnet++ -> Makemake -> Makemake Options -> link`

and include "cpr" in the -l option. And now it's working.

[2022-04-19 15:05] #724 closed

[2022-04-22 06:40] COM8 commented on #709
@Pxddyk45 Did you solve this issue? Do you need further help with that?

[2022-04-22 19:18] Pxddyk45 commented on #709
no, still couldn't fix it, and i dont think i can fix it

[2022-04-24 15:27] COM8 commented on #709
https://github.com/curl/curl/issues/8741

[2022-04-25 08:51] ZRR666 opened #729 "The POST method used after the CPR 302 redirect causes the server to return 405"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Where did you get it from (e.g. conan, vcpkg, master, ...):
* Operating System and version:
* Link to a small example:

The POST method used after the CPR 302 redirect causes the server to return 405
302 Failed to use GET in redirection

[2022-04-25 08:56] COM8 commented on #729
Please use the issue template and give a minimal example.

[2022-04-25 08:56] #729 closed

[2022-04-25 08:58] ZRR666 commented on #729
hi
After using POST, a 302 redirect is encountered and CPR continues to use POST resulting in 405

[2022-04-25 08:58] ZRR666 commented on #729
![image](https://user-images.githubusercontent.com/41984214/165056109-7788845f-4665-40f2-95fb-0547868dfeca.png)

[2022-04-25 09:00] ZRR666 commented on #729
![image](https://user-images.githubusercontent.com/41984214/165056221-0c115979-0df8-4a46-95a0-d79e6ef000f3.png)
At this point he uses the POST method for a 302 redirect

[2022-04-25 09:03] ZRR666 commented on #729
How can THE GET method be used to redirect pages

[2022-04-25 18:09] HpLightcorner opened #730 "CMake FetchContent Examples are not working "out of the box" on MacOS and Windows when requesting https (SSL) endpoint"
When building the minimal cpr example using FetchContent on Windows and macOS, HTTPS (SSL) endpoints are not working. cpr responds with an `INTERNAL_ERROR` with no error message given.

## Description
When building `cpr` with the following setup:
- CMake Build System (FetchContent minimum example)
- Clang (macOS) or MSVC (Windows)
- latest release
- SSL auto-detect (using platform-specific SSL imp

[2022-04-25 18:10] HpLightcorner commented on #709
#730 possible duplicate (using CMake build)

[2022-04-26 06:15] COM8 commented on #730
This is currently a curl issue: https://github.com/curl/curl/issues/8741#issuecomment-1108286813

Later today I will work on a new cpr release where I downgrade curl to 7.80.0 to get around this issue.

[2022-04-26 19:07] 0x0ff537 commented on #361
I have successfully compile a static binary with Visual Studio 2019. Apart from using vcpkg to install the static libraries and setting the proper values as mentioned by MFMokbel I also needed to add these:
`#pragma comment (lib, "cpr.lib")
#pragma comment (lib, "libcurl.lib")
#pragma comment(lib,"Ws2_32.lib")
#pragma comment(lib,"Wldap32.lib")
#pragma comment(lib,"Crypt32.lib")
`
I'm not using SS

[2022-04-27 04:36] alebcay opened #732 "Building cpr should check `LIBCURL_VERSION_NUM` before using `CURLOPT_SSLKEY_BLOB`"
## Description
In the course of packaging cpr 1.8.1 for [Homebrew](https://brew.sh) (downstream PRs https://github.com/Homebrew/homebrew-core/pull/98161, https://github.com/Homebrew/homebrew-core/pull/100206), trying to build cpr 1.8.1 against macOS-provided cURL leads to errors when the system cURL is older than 7.71.0 (i.e. on macOS versions older than 12.x Monterey).

## Expected Behavior
Build

[2022-04-27 16:41] #709 closed

[2022-04-27 16:46] COM8 commented on #732
Thanks for this nice issue!
I agree, there needs to be a check. Would you like to create a PR for it?
If so, I could push a new release for you :)

[2022-04-27 17:08] #730 closed

[2022-04-27 18:00] alebcay commented on #732
Hi Fabian, I'd be happy to open a PR for it but am unsure of what the fix should be. The line `curl_easy_setopt(curl_->handle, CURLOPT_SSLKEY_BLOB, &blob);` should be in a conditional if cURL is new enough. But what should be done instead if cURL is too old?

I'm not too familiar with cURL, so not sure I'm of much help here. 🙂

[2022-04-29 17:54] munix9 commented on #732
According to the commit https://github.com/libcpr/cpr/commit/4bae8a2cba0f89a53809d602d9232b83126ce1c3 I created the patch [fix-curl-blob-version-check.patch](https://build.opensuse.org/package/view_file/home:munix9/cpr/fix-curl-blob-version-check.patch?expand=1)
openSUSE Leap 15.3 comes with curl 7.66.0, compiling now works with cpr version 1.8.2
It's not tested yet, but maybe it serves as a possi

[2022-04-30 14:55] COM8 commented on #732
Yes, this looks good!

[2022-04-30 15:34] munix9 commented on #732
Ok, thanks. @alebcay can you please create a PR based on my patch and COM8's comments in https://github.com/libcpr/cpr/issues/732#issuecomment-1112997990 ?

[2022-05-02 07:41] saendigPhilip commented on #689
I could work on that during the next few weeks

[2022-05-02 17:06] alebcay commented on #732
I've opened a change for `libcpr` in #737 and a change for the docs in https://github.com/libcpr/docs/pull/13.

[2022-05-03 10:50] #732 closed

[2022-05-04 07:40] #151 closed

[2022-05-04 10:07] simon-berger commented on #270
I would like to have a look at that. Can you assign me to the issue?

[2022-05-04 11:09] #265 closed

[2022-05-05 09:21] COM8 commented on #732
@alebcay a new release is available: https://github.com/libcpr/cpr/releases/tag/1.8.3

[2022-05-05 22:12] oofsamy opened #740 "Response completely empty"
## Description

I'm trying to use libcpr to perform a GET request to get info about a gist, but when getting the `cpr::Response` object, seems like all fields except the `Url` and `Elapsed` field are just empty, even the error message is just completely null

## Expected Behavior

Should get a status code and body and headers

## Actual Behavior

Literally get nothing

## Steps to Reproduce
Not po

[2022-05-06 08:42] COM8 commented on #740
Thanks for reporting.

This is a curl/vcpkg issue.
Here you can find the cur issue: https://github.com/curl/curl/issues/8741#issuecomment-1108286813

There is a workaround available here: https://github.com/microsoft/vcpkg/issues/23417#issuecomment-1100634689

Sadly this is nothing we can fix, since we do not maintain the vcpkg package.

[2022-05-06 08:42] #740 closed

[2022-05-06 18:16] Pxddyk45 commented on #709
no it gives me segfault

[2022-05-08 23:25] leviliangtw commented on #683
@barisconur, have you started this issue already?
I think I have an idea for it.

[2022-05-10 06:20] #270 closed

[2022-05-11 05:54] #75 closed

[2022-05-14 10:20] JacqueSatan opened #743 "Can't send request to certain websites"
## Description
I am trying to perform a GET request to https://discord.com. When i send a GET request to other websites like https://www.google.com or https://httpbin.org, everything works fine. However, anything directed towards https://discord.com ends up making an internal error with no message.

## Expected Behavior
The request should be performed and return a response:
![image](https://user-i

[2022-05-15 06:21] COM8 commented on #743
On Linux the following forks for me:
[code]

This sounds like the curl/vcpkg issue.
Here you can find the curl issue: https://github.com/curl/curl/issues/8741#issuecomment-1108286813

There is a workaround available here: https://github.com/microsoft/vcpkg/issues/23417#issuecomment-1100634689

Please let me know if this works for you.

[2022-05-15 10:03] JacqueSatan commented on #743
Thank you for your answer. The workaround works perfectly. Should I close the issue now or wait until the problem is solved?

[2022-05-15 10:36] COM8 commented on #743
Since this is nothing we can fix, since are not maintaining the vcpkg package I'm closing this one.

[2022-05-15 10:36] #743 closed

[2022-05-15 12:44] oofsamy commented on #740
Hey, sorry to reopen this issue or however git issues work, I have no idea, but I used the workaround given (modified for x64 version) and I still face the same issue, are you at all able to compile the latest version of libcpr (I am too much of a C++ noob to use cmake, I have tried for like a week lol) and send it over? (I have made sure it installed the right version of curl, iti s infact 7.80.0

[2022-05-15 13:23] COM8 commented on #740
From my side, yes I'm still able to compile.
Sadly I'm unable to test this with vcpkg since I'm not using Windows any more.

[2022-05-15 17:38] barisconur commented on #683
@leviliangtw I have not started yet. Do you have a chance to implement and test your idea?

[2022-05-16 06:54] simon-berger commented on #719
I would like to work on this issue and hopefully create a pull request in the next few weeks.
Can someone assign me to it?

[2022-05-17 06:58] leviliangtw commented on #683
@barisconur Yes, let me get the chance.
@KingKili I take this issue.

[2022-05-17 19:50] simon-berger opened #745 "Add support for uploading arbitrary file parts with CURLOPT_RESUME_FROM"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to upload arbitrary parts of a file, as [CURLOPT_RANGE](https://curl.se/libcurl/c/CURLOPT_RANGE.html) should not be used for HTTP PUT uploads, as it conflicts with other options. Instead [CURLOPT_RESUME_FROM](https://curl.se/libcurl/c/CURLOPT_RESUME_FROM.html) should be used together with [CURLOPT_INFIL

[2022-05-18 00:49] leviliangtw commented on #683
@KingKili The PR [#746](https://github.com/libcpr/cpr/pull/746) is ready for this issue

[2022-05-18 08:44] simon-berger commented on #483
If the issue has not yet been resolved elsewhere, I would like to work on it.

[2022-05-18 08:55] simon-berger commented on #70
I would like to take this issue and create a PR :)

[2022-05-18 09:20] COM8 commented on #483
As far as I'm aware, it's currently only possible to load ssl-key blobs.

[2022-05-19 10:01] COM8 commented on #745
Yes, this would be a nice to have feature!

[2022-05-21 10:08] yeSpud opened #747 "Post request results in internal error: CURLE_OUT_OF_MEMORY"
## Description

When trying to make a post request to send an embed to a discord webhook the response given results in `0` with the message of `Internal Error`. Doing more digging to follow what causes the error reveals that curl is throwing `CURLE_OUT_OF_MEMORY` at some point.

## Expected Behavior

Should just send embed to webhook and return `200`.

## Actual Behavior

Returns `0` with message

[2022-05-21 10:22] COM8 commented on #747
I will have a look at it later today.

[2022-05-21 10:25] COM8 commented on #747
But to me this sounds like: https://github.com/curl/curl/issues/8741#issuecomment-1108286813

Could you please try what happens when you use the following commit: db351ffbbadc6c4e9239daaa26e9aefa9f0ec82d
 from: https://github.com/libcpr/cpr/releases/tag/1.8.3

[2022-05-21 10:43] yeSpud commented on #747
That seems to have fixed it - thank you!

Not sure at what point the most recent commits broke post requests, so I'm unsure if this should be closed as current builds run into that error

[2022-05-21 12:58] COM8 commented on #747
On master we are curently using the latest curl, which breaks this. I'm keeping this open until we either downgraded curl on master or we got a fixed version.

[2022-05-23 09:53] simon-berger commented on #745
Then I will work on it in the next few weeks and create a PR when I'm done

[2022-05-24 17:37] daihanhle opened #749 "compile error"
Hi I check out the code and build it. I got this error:

[ 77%] Building CXX object cpr/CMakeFiles/cpr.dir/auth.cpp.o
In file included from /home/daihanh/_vscode/http_cpr/cpr/cpr/auth.cpp:1:0:
/home/daihanh/_vscode/http_cpr/cpr/include/cpr/auth.h:20:21: error: function ‘cpr::Authentication& cpr::Authentication::operator=(cpr::Authentication&&)’ defaulted on its first declaration with an exception-

[2022-05-24 18:24] daihanhle commented on #749
GCC version 4.8

[2022-05-24 18:54] daihanhle commented on #749
ok with gcc 7.1

[2022-05-25 05:43] COM8 commented on #749
gcc 4.8 is too old. More on that can be found here: https://github.com/libcpr/cpr/issues/578

[2022-05-25 05:43] #749 closed

[2022-05-25 05:49] #719 closed

[2022-05-31 09:50] gvanem opened #751 "'session_tests' failure on Windows"
I've built `CPR.dll` and run most tests (with `-DMG_ENABLE_SSL`) on Windows-10 just fine.
But the `session_tests.exe` fails in some weird way. I do not know what it's trying to do in these steps:
[code]

All 4 failed.

The comment *request cannot be made as port is already occupied* is perhaps not valid on Windows?

[2022-05-31 12:53] gvanem commented on #751
I now rebuilt everything for `_DEBUG`-mode (`-MDd`). And then there are no failures.
Very strange.

[2022-05-31 13:31] KingKili commented on #751
Indeed, very strange. Do you have any restrictions besides failing tests?

[2022-06-01 08:10] COM8 commented on #751
@jmhersc can you help us with that?

[2022-06-01 09:34] #483 closed

[2022-06-01 09:37] COM8 commented on #414
Closing this one, since this has been fixed: https://github.com/libcpr/cpr/blob/master/cpr-config.cmake

[2022-06-01 09:37] #414 closed

[2022-06-01 09:38] jmhersc commented on #751
Sorry, but I don't have a Windows development environment (only Office). Maybe increase the port range in the test?

[2022-06-01 15:16] cschreib-ibex opened #752 "cpr.h includes windows.h on Windows (again)"
See https://github.com/libcpr/cpr/issues/700 for the first bug report on this issue. It was fixed for a while, but unfortunately https://github.com/libcpr/cpr/commit/c0a412230be7ce1fced4b8c3a6fb2b8b9f7dd746 introduced a new inclusion of curl.h, so the problem appeared again.

Here's the chain:
 - `cpr/cpr.h` -> `cpr/cookies.h` -> `cpr/curlholder.h` -> `curl/curl.h`

## Description
See https://gith

[2022-06-03 08:06] COM8 commented on #752
Thanks for the heads up on this one. I will have a look at it shortly!

[2022-06-03 19:06] Necktschnagge opened #754 "zlib installation on Windows will result in build fail"
## Description

When libz has been installed on Windows the installed zlib is found by cmake when creating a project:
[code]
and after that building fails with
[code]
However, if you remove the installed _GnuWin32 zlib_, creating project and building works fine again.

## Expected Behavior

When some zlib installation on Windows (with possibly unsupported version) is found, cpr ignores it and buil

[2022-06-08 11:24] COM8 commented on #754
Oh, sorry overlooked that one. I can have a look at it next week. I also think I know why this is happening. This is probably connected to the warnings `zlibng` is throwing during configuration.

[2022-06-08 12:41] COM8 opened #757 "Update Mongoose to Version 7"
## Description

With the latest releases of OpenSSL we get a few deprecation warnings, when compiling [mongoose](https://github.com/cesanta/mongoose):
[code]

## Expected Behavior

We should not use deprecated OpenSSL functions.

## Possible Fix

A solution would be to update our mongoose implementation to e.g. [version 7.7](https://github.com/cesanta/mongoose/releases/tag/7.7).

**BUT** this requ

[2022-06-08 13:07] COM8 commented on #752
I don't think this is something we can fix if you include `cpr/cpr.h` since we require the `curl.h` include inside `cpr/curlholder.h` for the `CURL` type, which is not being able to be forward declared.

I have created a PR to reduce the number of transitive curl.h includes in cpr here: https://github.com/libcpr/cpr/pull/758
Could you please try this branch and do not include `cpr/cpr.h`, but inst

[2022-06-08 23:18] kgofron opened #759 "Example code (cprget) not linking properly"
Fails at linking stage

## Description

## Expected Behavior
 The cprget should compile and link.

## Actual Behavior
 The cprget fails linking

## Possible Fix
 Not sure if it is a version issue, or something else.

## Steps to Reproduce
 Reproducible

1. git clone https://github.com/libcpr/cpr.git; mkdir build && cd build; cmake ..; cmake --build .; make
2. example cprget.cpp file compiled and l

[2022-06-09 07:35] COM8 commented on #759
When compiling your code with `g++ -o cprget -Iinclude/ -Ibuild/cpr_generated_includes/ -Lbuild/lib/lib -lcpr cprget.cpp`, for the following happens:
[code]

To fix it try the following `cpr::Authentication{"user", "pass", cpr::AuthMode::BASIC},`

[2022-06-09 21:54] kgofron commented on #759
My mistake: the library libpcr must be after cprget.cpp source file.

[code]

[2022-06-09 21:54] #759 closed

[2022-06-11 08:28] saendigPhilip commented on #689
I created a pull request #760 with automated package building scripts for debian packages. I would suggest issuing an Intent to Package at version `1.9.0`.

[2022-06-11 17:17] saendigPhilip commented on #757
I would like to work on that issue

[2022-06-13 00:05] Binary-System opened #761 "Waiting times with cpr::get when getting more then a few kb"
I have a strange waiting time when using cpr::Get to download a file with more then a few kb
[code]
takes about a quarter of a second

[code]
takes eleven seconds with 10 seconds without any cpu or memory usage/change.
Is something in cpr freezing there, waiting for something?
Can someone reproduce that phenomenon?

[2022-06-13 07:59] Binary-System commented on #761
Timespan rises with file size. 22mb take 4-6 seconds network traffic and about 3 minutes "wait time" after that for example.

[2022-06-13 08:40] COM8 commented on #757
Sure! I assigned you to the issue. If you want, I can push the branch I started working on this, so you have a rough starting point and don't start from zero.

[2022-06-13 08:48] COM8 commented on #761
For me your example takes roughly 0.2 seconds to complete:
[code]

What version of cpr are you using, what OS are you on? Please don't just ditch the issue template next time. It contains valuable information which I now have to ask you one by one again.

What happens if you run:
[code]

[2022-06-13 11:04] Binary-System commented on #761
Systems: Windows 8.1, 10 and 11
IDE: Visual Studio 2019
CPR:1.6.2 via vcpkg

time curl doesn't work because windows.

It seems std::sting access is somehow way slower when it's contained in cpr::response then in std::string "naked"

I would expect both timer outputs to be roughly the same in the following quick and dirty snippet:
[code]
But first is 39 seconds, 2nd is 3.5 seconds (both should be 2

[2022-06-13 12:03] COM8 commented on #761
What happens in case you reserve some space before doing the request like described here: https://docs.libcpr.org/advanced-usage.html#large-responses

[2022-06-13 12:05] COM8 commented on #761
Ah, you are using 1.6.2.  There `cpr::ReserveSize` is not available. Any reason why you are using an outdated version of cpr?

[2022-06-13 12:52] Binary-System commented on #761
Will update and try again with and without ReserveSize.

Until now possible risk of breaking something with an update was bigger then possible new features or problems fixed.

[2022-06-13 20:17] Binary-System commented on #761
When installed with cvpgk version number of cpr:x86-windows updates to 1.8.3 but ReserveSitze.h and a few other files are missing completely. Further tests here have to wait until there is an solution to that.

[2022-06-14 08:32] simon-berger commented on #745
I think we can close this issue, as libcurl / http will not support this (see: #753).

[2022-06-14 08:32] #745 closed

[2022-06-14 08:45] saendigPhilip commented on #757
Yes, that would be very helpful, I think

[2022-06-14 08:50] simon-berger commented on #382
I would like to work on this issue. My plan is to work out a concept first and then update CPR with as few compatibility restrictions as possible.

[2022-06-15 07:52] Binary-System commented on #761
Have to wait until https://github.com/microsoft/vcpkg/issues/25237 is published will then investigate further.

[2022-06-15 08:27] simon-berger commented on #382
Before I start to work on a PR I would like to discuss some of my ideas.

As far as I understand, the plan is to use C++17 as default (required) and if needed support optional C++20 compilation to enable certain special features. Accordingly, I would increase the CMake `CXX_STANDARD` to 17 first and consider C++20 only after C++17 has been integrated.

Here is a tentative list of potential improve

[2022-06-16 14:21] leviliangtw commented on #216
@KingKili @COM8
I tested it and now I think this issue is fixed by this commit: [Session cleanup. Fixes #479 · libcpr/cpr@96e33ba](https://github.com/libcpr/cpr/commit/96e33bae7a5282ae5a3cdac22c83499e0848d856#diff-cf37f7e6e7c606c16b02f59101a4b6e3c530806d97ce878cc22e35b8a15557ccR212)

[2022-06-17 00:34] Raigestain opened #762 "Response for a HTTPS Get to Jira returns error code 4."
## Description
I've been trying to do a GET request using the Jira REST API, but all that I got was an **Error Code** 4, with a **Status Code** 0

## Expected Behavior
Get the json information from the page.

## Actual Behavior
Error Code: 4
Status Code: 0
Empty Body.

## Steps to Reproduce

Here you can find two examples of what I tried.

1.
[code]

2.
[code]

## Notes:
I tried different ways to

[2022-06-17 05:16] leviliangtw commented on #581
@KingKili @COM8 I created a new PR[#763](https://github.com/libcpr/cpr/pull/763).

[2022-06-17 06:01] COM8 commented on #762
Try using [Release 1.8.3](https://github.com/libcpr/cpr/releases/tag/1.8.3). This is currently a curl issue: https://github.com/curl/curl/issues/8741 since we are using a rather new version of curl in master.

[2022-06-17 06:23] COM8 commented on #216
Even better! @leviliangtw could you have a look at creating a few unit tests for this "bug"?

[2022-06-17 07:02] leviliangtw commented on #642
@KingKili @COM8 Sorry for no notification. The PR [#755](https://github.com/libcpr/cpr/pull/755) is for this issue.

[2022-06-17 07:04] leviliangtw commented on #216
Got it! No problem!

[2022-06-17 09:51] #642 closed

[2022-06-17 17:13] leviliangtw commented on #216
I created a new PR [#764](https://github.com/libcpr/cpr/pull/764).

[2022-06-20 10:53] #216 closed

[2022-06-20 11:02] COM8 commented on #757
Thanks for looking into this. I always was wondering if this test was even working at all. Now we have the confirmation. In my eyes we should still keep the test as it then just adds additional delay on the server side.

[2022-06-20 11:44] #70 closed

[2022-06-20 11:45] COM8 commented on #752
Ping @cschreib-ibex

[2022-06-20 21:31] TennisBowling opened #766 "cpr fails cpack (using NSIS) on windows"
## Description
cpr appears to use absolute paths, which NSIS does not allow.
when trying to pack my project, I get
[code]

## Expected Behavior
NSIS packs the project correctly

## Actual Behavior
NSIS crashes because there is an absolute path

## Possible Fix
remove absolute path somehow

## Steps to Reproduce
1. make a project with cpr in it
2. pack with cmake using `cpack -G NSIS`

example in g

[2022-06-21 06:30] KingKili commented on #766
Seams like the issue is in the build system of zlib. Since zlib is no hard dependency, I would recommend you trying to remove it (`-DCURL_ZLIB=OFF`). Please let me know if you require further assistance.

[2022-06-21 17:52] D7EAD opened #767 "HTTP Streaming Protocol support?"
Does CPR allow support for HTTP Streaming Protocol in any way?

I'm currently writing a wrapper for a particular web API, and certain endpoints make use of HTTP streaming. These endpoints describe a requirement for a persistent connection (much like WebSockets) as data is supplied to the client in real time as it comes in; they describe it like so:

- *"Establishing a connection to the streaming A

[2022-06-21 18:12] TennisBowling commented on #766
yeah that works. thank you!
quick question because i dont know where else to post and doesn't warrent an issue:
can cpr be built statically with cmake?

[2022-06-21 18:12] #766 closed

[2022-06-21 18:18] COM8 commented on #767
In theory yes, but I never tested it. What one could use in this case is the [`WriteCallback`](https://docs.libcpr.org/advanced-usage.html#setting-callbacks)

[2022-06-21 18:42] D7EAD commented on #767
Alright, I'll make use of that and get back to you with the results of such.

[2022-06-22 05:21] KingKili commented on #766
Sure this is possible using `-DBUILD_SHARED_LIBS=false`

[2022-06-23 09:15] HellsingDarge commented on #767
It is possible with `WriteCallback`, with a few caveats:
* you'll need to have a dedicated `Session` object for catching these stream writes, as any changes to the holding object will invalidate it
* cURL, and by extension CPR, are single-threaded - the execution will wait until the stream has been signaled to have been ended by the endpoint, so you'll need to listen to the stream in a separate th

[2022-06-23 14:11] cschreib-ibex commented on #752
Sorry, I was on honeymoon! I just gave it a go, and it seems there is still an issue:
 - `cpr/api.h` -> `cpr/response.h` -> `cpr/ssl_options.h` -> `curl/curl.h`
   It looks like the include to `cpr/ssl_options.h` can just be removed from `response.h`.

 - `cpr/api.h` -> `cpr/session.h` -> `cpr/ssl_options.h` -> `curl/curl.h`
   This one cannot just be removed. `session.h` needs forward declaration

[2022-06-23 14:59] D7EAD commented on #767
Alright, with that, I'll close this issue and get to it. Thanks a lot.

[2022-06-23 14:59] #767 closed

[2022-06-24 14:24] leviliangtw commented on #158
Hi, I wrote a unit test using `libcurl` purely in order to investigate how to fix it.

Server:
[code]

Client:
[code]

The outputs:
[code]

It seems that the unexpected behavior lies in the implementation of `libcurl`, so currently, I still haven't come up with a good idea for this issue.
Does anyone have hints or some good ideas for this issue?

[2022-06-25 05:41] COM8 commented on #683
Closing since this has been solved #746 .

[2022-06-25 05:41] #683 closed

[2022-06-25 09:11] COM8 commented on #158
I will have a look at it on Monday, since I'm currently not at home. But thanks for looking into it @leviliangtw !

[2022-06-27 07:59] simon-berger commented on #556
There was no PR for the issue yet, right? If so, I would be happy to work on it and create one.

[2022-06-27 08:08] simon-berger commented on #297
Since there is no Nuget Packet yet (please correct me if I am wrong), I would like to work on it :)

[2022-06-27 08:19] simon-berger commented on #436
I would like to work on the issue in the next few weeks and hopefully create a PR :)

[2022-06-27 11:21] kdidkovsky opened #768 "cpr::GetCallback linkage fails with cpr 1.8.3"
When  cpr::GetCallback is used in cpr 1.8.3, linking fails. In 1.7.2 it's working fine.

## Description

I've written a program that uses cpr:

`void myClass::sendRequest(QString url, QJsonObject request, Callback callback) {
  cpr::GetCallback(callback, cpr::Url{url.toStdString()}, cpr::Body(stringify(request)), cpr::Timeout(timeoutMs));
}`

Where Callback is defined as following:

`using Callbac

[2022-06-27 14:07] COM8 commented on #768
Turns out callback test are generally broken on newer versions of gcc. I will have a look at it.

[2022-06-27 14:19] COM8 commented on #436
Sure, thanks @simon-berger !

[2022-06-27 14:44] COM8 opened #769 "Response::GetCertInfo() not Returning all Cretificate Information"
## Description

The behaviour of `Response::GetCertInfo()` is broken in a way, that it only returns a subset of the available amount of certificate information.

This is caused by the following lines:
https://github.com/libcpr/cpr/blob/db351ffbbadc6c4e9239daaa26e9aefa9f0ec82d/cpr/response.cpp#L38-L42

When we compare this to the expected way to read this information from curl:
[code]
Source: https

[2022-06-27 20:03] COM8 commented on #158
Yes, I agree this is a curl "issue". But I don't think this is a issue since in my eyes curl should not combine those two cookies into one. This is the task of the server. The server first should remove the old cookie and then set the new one.

So in my eyes this is nothing we can/should fix to prevent breaking the work flow of others needing such a behaviour.

@leviliangtw In my eyes we can/shoul

[2022-06-28 00:43] leviliangtw commented on #158
@COM8 Yes, I agree with you, and I don't see any difference.
By the way, are you going to report this issue to `curl`? Or just let me report it?

[2022-06-28 07:01] COM8 commented on #158
In my eyes this is also no issue in curl, since it's a server side "problem".

[2022-06-28 07:01] #158 closed

[2022-06-28 07:47] KingKili commented on #768
Weird, on my system (gcc 12.1.1) callback test compile and run just fine

[2022-06-28 15:04] saendigPhilip opened #771 "HTTPS Tests are not working"
## Description
There are a lot of errors in the HTTPS Test Server. While @simon-berger made me aware of some of them, I encountered a few more during my work on updating the test server (see #757).

## Wrong certificate paths
### Expected Behavior
The certificates and keys are moved to the test binary path, so the relative paths to them are correct. Certificates and keys are loaded properly.

###

[2022-06-28 16:59] kpadmasola opened #772 "Need example for connecting to SSL host+port"
Hi,

The documentation has many examples on how to use cpr to connect to https endpoints.
However, I need to connect to an SSL host+port over plain TCP (not HTTPS) to send and receive messages. Is this possible using cpr? It would be great if you can share sample code for this.

thank you!

[2022-06-28 17:16] COM8 commented on #772
Or could you please elaborate your requirement a bit more?

[2022-06-28 17:36] kpadmasola commented on #772
Something similar to https://github.com/chriskohlhoff/asio/blob/master/asio/src/examples/cpp11/ssl/client.cpp, but using cpr.

[2022-06-29 06:57] COM8 commented on #772
Hmmm...
I'm sorry to say, this is nothing we can provide you with since we are building on top of libcurl. So in case you can find such functionality in libcurl we can think about creating an interface inside cpr for it.

[2022-06-29 07:02] #581 closed

[2022-06-29 07:08] COM8 commented on #771
Thanks for reporting! Yes, this is an issue and should be fixed. Would you like to have a look at it, once you are done with your mongoose update?

[2022-06-29 07:58] saendigPhilip commented on #771
Yes, I'll try to solve it.
With mongoose 7, the HTTPS tests fail, probably because of the invalid certificates. So, as I mentioned, this issue needs to be solved in order to solve #757 anyway. That's also why I already started working a bit on it.

[2022-07-01 01:27] FishOrBear opened #775 "cpr::download When status_code = 200, can the file download correctness be guaranteed?"
Add download file size check, it should be better

[2022-07-01 07:38] COM8 commented on #775
TLDR: NO
The status code and file download correctness are not connected. BUT since your communication with the server utilizes a TCP connection, we can guarantee everything that gets send from the server will arrive on your end in case neither the client, nor the server closes the connection early or even ungracefully.

[2022-07-04 11:06] COM8 commented on #772
Closing this for now, since this is nothing we can provide.

[2022-07-04 11:06] #772 closed

[2022-07-04 11:11] COM8 commented on #768
This issue got introduced with #734.
@ithewei do you know anything about this.

The current state is, if I run all test successfully inside a [Fedora toolbox](https://docs.fedoraproject.org/en-US/fedora-silverblue/toolbox/), but outside of it, it does not work - at least for me.

[2022-07-05 10:23] leviliangtw opened #777 "Refactor the class cpr::Cookies for storing more fields and reasonability"
## Description
In this [comment](https://github.com/libcpr/cpr/issues/158), @COM8 mentioned a possibility of refactoring `cookies.h` with replacing the internal member `std::map<std::string, std::string>` to something like `std::map<std::string, cpr::Cookie>`.
By doing that, you could manage the cookies more reasonably with a cookie consisting of kinds of fields instead of a pair string of only na

[2022-07-06 08:42] leviliangtw commented on #769
Let me deal with it!

[2022-07-06 08:46] leviliangtw commented on #777
@COM8 #778 is ready for this issue.

[2022-07-06 13:31] #775 closed

[2022-07-06 13:32] COM8 commented on #769
Awesome. Thank you!

[2022-07-06 13:35] COM8 commented on #768
@kdidkovsky fixed it on my side by removing the installed version of cpr from my system. From an earlier test run I had cpr installed on my system. Then when I compiled and run the tests from the repo it took the headers from the repo, but used the system lib file.
Please try the following:
[code]

[2022-07-06 13:37] #762 closed

[2022-07-07 08:23] #771 closed

[2022-07-07 09:19] COM8 commented on #769
@leviliangtw do you have time to work on this until the end of next week, since I plan to release 1.9.0 by the end of next week. Else, I can have a look at it.

[2022-07-07 09:22] #689 closed

[2022-07-07 10:09] leviliangtw commented on #769
Yep, I could work on that this weekend 👍

[2022-07-07 14:35] COM8 opened #780 "Ubuntu 16 not supported any more - explicit_bzero"
With this PR we are losing support for Ubuntu16.
[cpr/util.cpp | line 175](https://github.com/libcpr/cpr/pull/776/files#diff-747ad88026bfad456fdf7b3955c1679b3c50506971408d5640486232c4e7d1bbR175) `explicit_bzero(&s.front(), s.length());`
My jenkins/conan build:
[code]

`explicit_bzero` requires **GLIBC 2.25** and higher, while Ubuntu16 comes with **2.23**.
https://man7.org/linux/man-pages/man3/bzer

[2022-07-08 17:09] leviliangtw commented on #769
@COM8 #781 is ready for this issue.

[2022-07-09 09:35] pythagoras9 opened #782 "DNS Lookup using cpr"
I am trying to obtain the IP address of a machine which has a hostname. I do not have the DNS IP address as the DNS server is local. It would be great if cpr had the facility to do a dns lookup. Perhaps even reverse lookups.

[2022-07-11 06:42] COM8 commented on #782
In my eyes this is not something we will target any time soon. The goal of cpr is to perform web request and let the operating system deal with resolving host names.

This might help: https://stackoverflow.com/questions/2151854/c-resolve-a-host-ip-address-from-a-url

Boost also has this functionality:
https://dens.website/tutorials/cpp-asio/resolvers

[2022-07-11 06:42] #782 closed

[2022-07-11 12:35] #780 closed

[2022-07-14 09:06] Binary-System commented on #761
There seems to be a problem integrating the latest CPR version into vcpkg

https://github.com/microsoft/vcpkg/pull/25244

[2022-07-14 10:31] #777 closed

[2022-07-14 10:33] COM8 commented on #768
@kdidkovsky any updates from your side?

[2022-07-14 11:37] MysticalDragon70 opened #785 "Build fails under Linux"
## Description
When I try to install the library under Linux (Raspberry Pi Os Lite, 64 bit) with
`git clone https://github.com/libcpr/cpr.git`
`cd cpr`
`mkdir build && cd build`
`cmake ..`
`make`
`sudo make install`
when executing `make`, it fails when it's "Building CXX object cpr/CMakeFiles/cpr.dir/cookies.cpp.o"

This may not be an officially documented way to install the library, but it worked

[2022-07-14 11:51] #785 closed

[2022-07-14 11:51] COM8 commented on #785
Fixed. Thanks for creating this issue!

[2022-07-15 09:44] locez opened #786 "Read Callback doesn't work with PUT"
## Description

Read Callback doesn't work with PUT, it just work with POST method

[code]

## Expected Behavior

upload big file with put method

## Actual Behavior
it doesn't work with PUT method

## Your Environment
cpr: 1.8.3
libcurl: curl-7.77.0.tar.gz

* Version used:
* Where did you get it from (e.g. conan, vcpkg, master, ...):
* Operating System and version:
* Link to a small example:

[2022-07-16 08:42] COM8 commented on #768
Hmmm. Once I've fixed the version clash on my system, it started working perfectly again. Are you sure there is no clash on your system where you are building with a more recent version, than you are using during execution?

Could you please provide a minimal example, so I can try reproducing this?

[2022-07-16 09:39] COM8 commented on #786
Confirmed. Thanks for reporting. I created a PR to fix this issue here: https://github.com/libcpr/cpr/pull/787

[2022-07-16 09:39] COM8 commented on #786
Could you please try if this PR fixes your issue?

[2022-07-16 14:41] locez commented on #786
I'll test whether this change meets the requirements on Monday. How about the CURLOPT_UPLOAD parameter, I see that some examples use this parameter, but this parameter is not set anywhere in the cpr source code

[2022-07-17 05:11] hamzaahmedzia1 opened #788 "Advanced Usage Page Shows 404"
On https://docs.libcpr.org/introduction.html If you browse all the way down on the basic usage page to the section
`With these basic operations, modern C++ has access to a significant portion of the world wide web’s APIs. For more complex applications, check out the [Advanced Usage guides](https://docs.libcpr.org/cpr/advanced-usage.html).`

That link shows 404.

The left navigation pane for on htt

[2022-07-17 07:02] COM8 commented on #786
As far as I'm understanding it ([docs](https://curl.se/libcurl/c/CURLOPT_UPLOAD.html)), this can be used in case your only intend is to upload stuff. But when setting this, this would break stuff for other people, which expect some kind of response from the server.

Please let me know as soon as possible once you have tested those changes, so I can release 1.9.0, including or excluding this fix.

[2022-07-17 08:32] COM8 commented on #788
Thanks for reporting. Fixed: https://github.com/libcpr/docs/commit/6d8b0060d64adbb089e1a1ee584cf42a64f2eaf3

[2022-07-17 08:32] #788 closed

[2022-07-17 09:21] #769 closed

[2022-07-17 09:22] COM8 commented on #768
Pushing this back to a 1.9.x release.

[2022-07-17 09:26] COM8 commented on #747
We downgraded the version of libcurl since there is no fix in sight.

[2022-07-17 09:26] #747 closed

[2022-07-17 09:27] COM8 commented on #727
Any updates?

[2022-07-17 09:30] COM8 commented on #751
Fixed in this commit by using different ports for each test: https://github.com/libcpr/cpr/commit/adbb5ff8471be9487a36ee6475706de683310bda

[2022-07-17 09:30] #751 closed

[2022-07-17 09:31] COM8 commented on #633
Fixed by: https://github.com/ithewei/cpr/commit/d0c2f42f3d9a5d8c718c3eba2bd114d1603c4006

[2022-07-17 09:31] #633 closed

[2022-07-17 09:32] #463 closed

[2022-07-17 09:33] COM8 commented on #560
Any updates on that front?

[2022-07-17 12:23] Leon0402 commented on #560
Not from my side. The issue https://gitlab.kitware.com/cmake/cmake/-/issues/22909 is still open. It sounds easy to fix, but it doesn't seem like someone has the time to do it right now.

[2022-07-18 06:34] locez commented on #786
We have tested this modification and it solved our problem.

[2022-07-18 08:20] COM8 commented on #786
Awesome! Thanks for the fast reply. Now I can finish up the release.

[2022-07-18 08:20] #786 closed

[2022-07-18 10:26] kdidkovsky commented on #768
I'm trying to reproduce the error as a minimal example, but I haven't succeeded yet. I'm running cpr::GetCallback from a timerEvent of a QObject's child, but in a separate example everything works fine. I'll send an example as soon as I'm able to reproduce the error.

[2022-07-18 14:04] khtkiprw opened #790 "proxy issue"
Why should setting up a proxy be based on the requested URL protocol ?

Shouldn't the user be the protocol that specifies the proxy

According to the request URL protocol, I can not set up socks5 proxy?

[code]

[2022-07-20 03:15] JimmyRice opened #791 "Error code 4 and empty error message"
## Description

I'm working on a simple console application, and an internal error has occurred when I'm requesting an API.

## Code

[code]

## Expected Behavior

Expect the request from the API server to be received correctly and output via `response.text`

## Actual Behavior

`response.status_code` is 0
`response.error.code` is 4
`response.error.message` is empty

## Context

I can't get a resp

[2022-07-20 06:14] COM8 commented on #791
Thanks for reporting!
Error code 4 stands for an internal error inside curl. Could you please provide a minimal example project with all your CMake stuff, so I can reproduce it?

Based on the following line I think something is wrong with the TLS configuration.
[code]

And could you please paste the complete log from your CMake configure phase (`cmake ..`)?

[2022-07-20 07:55] COM8 commented on #790
To ensure, you get a reply in time, please use the issue template next time, when you create an issue ;)

This issue should help: https://github.com/libcpr/cpr/issues/461

[2022-07-20 12:31] JimmyRice commented on #791
Hi! Thank you so much for taking the time to respond to me!

I have good news on my side, when I created a new sample project and tested it, I found it worked, so I reopened my simple console application and found that the requests were working. So there seem to be no more problems at the moment.

Thank you so much.

[2022-07-20 12:40] #791 closed

[2022-07-20 17:12] hamzaahmedzia1 commented on #361
I can confirm the fix from @0x0ff537  works for Visual Studio 2022 using vcpkg and x86 static linking.

[2022-07-21 17:35] leviliangtw commented on #211
Now, `CURLOPT_ACCEPT_ENCODING` has already been set to "" for all built-in supported encodings and could be customized using `SetAcceptEncoding`.

The following is an example to use `SetAcceptEncoding` and check the `Content-Encoding` in the header:

[code]

@COM8, I think this issue could be closed directly.

[2022-07-21 22:01] jmafc opened #792 "find_package for CMake"
**Is your feature request related to a problem? Please describe.**
The suggested approach of using FetchContent to include `cpr` causes it (and *everything else*) to be checked and rebuilt (including all of `curl` *and* its tests) any time I tweak my `CMakeLists.txt` (which I've been doing rather frequently because I'm migrating other programs--and only two of which use `cpr` and those are essenti

[2022-07-21 22:42] jmafc commented on #792
Looking a little closer, I see that #645 was a PR that attempted to fix this problem and that created the file `cmake/cprConfig.cmake.in` (so the older `cpr-config.cmake` can probably be removed).  It also modified the `cpr/CMakeLists.txt` to create the `cprTargets.cmake` needed by the `.in` file. However, I cannot find the `cprTargets.cmake` file in build directory tree after doing a `cmake --bui

[2022-07-22 06:21] KingKili commented on #792
In order for the CPR config to be installed, you must use the libcurl of your system (`CPR_FORCE_USE_SYSTEM_CURL`). Then it should all work as requested after a `make install`.

[2022-07-22 09:18] COM8 commented on #211
Agree. Thanks @leviliangtw .

[2022-07-22 09:18] #211 closed

[2022-07-22 12:31] bleriaf opened #795 "VerifySsl(false) not working after updating to 1.9.0"
Hello, yesterday an update was pushed to vcpkg for CPR version 1.9.0 and since then doing cpr::VerifySsl{ false } on any request and having a sniffer open produces error code 10, before that version it worked fine

[2022-07-22 12:50] jmafc commented on #792
OK, tested and that does work. However, that fact and the procedure for using Cmake `find_package` s perhaps should be mentioned in the main  README?

[2022-07-22 13:46] leviliangtw commented on #563
@COM8, the PR [#793](https://github.com/libcpr/cpr/pull/793) is ready for this issue.

[2022-07-22 19:07] bleriaf commented on #795
nevermind was my mistake sorry

[2022-07-22 19:07] #795 closed

[2022-07-25 08:37] #790 closed

[2022-07-25 08:37] COM8 commented on #792
@jmafc Would you like to create a PR for this?

[2022-07-25 08:38] COM8 commented on #768
Closing this one for now since it seams to be resolved.

[2022-07-25 08:38] #768 closed

[2022-07-25 12:18] jmafc commented on #792
Not at this time. Sorry. You may close the issue if you want.

[2022-07-25 17:40] simon-berger commented on #436
Unfortunately, I won't have the time to work on the issue anymore. Therefore I unassigned myself and hope that someone else wants to take over this issue.

[2022-07-25 23:37] Lecrapouille opened #796 "README Replace C++11 by C++17"
Hi !

The README says many times the project is C++11 compliant `Using the more expressive language facilities of C++11` or `a C++11 compatible compiler such as Clang or GCC.` but C++17 is mandatory.

[2022-07-26 06:24] COM8 commented on #796
Yes, you are right. We are currently transitioning master to cpp17 (https://github.com/libcpr/cpr/pull/765).
The last release with cpp11 support is [1.9.0](https://github.com/libcpr/cpr/releases/tag/1.9.0). I was planing to update the readme accordingly, to let people know how to get a cpp11 compatible version of cpr.

[2022-07-26 06:24] #796 closed

[2022-07-26 06:30] #792 closed

[2022-07-26 06:32] #563 closed

[2022-07-26 09:42] leviliangtw commented on #556
@COM8 @simon-berger
Hi, I noticed this issue might cover another issue #154.
Since Simon has already created a great PR, I suggested that you could link them together.

[2022-07-26 10:00] COM8 commented on #154
Closing in favour of #556

[2022-07-26 10:00] #154 closed

[2022-07-26 10:01] COM8 commented on #556
Agree. Thanks @leviliangtw !

[2022-07-26 10:25] #556 closed

[2022-07-26 10:36] leviliangtw commented on #563
@COM8 I created a doc PR [#29](https://github.com/libcpr/docs/pull/29) for this issue.

[2022-07-26 11:57] Reivax47 opened #797 "I get a Seg Fault on GET request. Version 1.9.0"
Hi !

I've just moved from 1.7.0 to 1.9.0 this morning and I get a seg fault on my first GET request.
This line in session.h make it crash:
`    ~Session() = default;`

Up in the pile, in cpr::Get, I get this :
`str_ = <error reading variable: Cannot create a lazy string with address 0x0, and a non-zero length.><error reading variable: Cannot create a lazy string with address 0x0, and a non-zero l

[2022-07-26 12:05] COM8 commented on #797
Thanks for taking the time to report this!
Could you please provide a minimal example, since I currently can not reproduce this issue on Debian 10/Fedora 36 and Ubuntu {20.04, 22.04}.

[2022-07-26 12:06] COM8 commented on #797
And a complete stack trace please 😄 .

[2022-07-26 12:16] Reivax47 commented on #797
The precise point of the crash :
![image](https://user-images.githubusercontent.com/47529668/181002687-068f9960-7edd-4333-b113-9e7715d23847.png)

cpr::Session ~Session
![image](https://user-images.githubusercontent.com/47529668/181003075-9c9b3231-edaf-4557-ad59-d740b14dd541.png)

And my call :
![image](https://user-images.githubusercontent.com/47529668/181003448-aaa4e3ee-ef10-41a8-a9cf-635982ff127

[2022-07-26 12:26] COM8 commented on #797
Since you are consuming cpr via CMake, could you please try the following patch.
Replace `writeFunction(...)` inside `cpr/util.cpp` with the following patched version:
[code]

[2022-07-26 12:28] COM8 commented on #797
`response_string_reserve_size_` also has a rather "broken" value.

[2022-07-26 12:40] Reivax47 commented on #797
So with util.cpp modified as this :
![image](https://user-images.githubusercontent.com/47529668/181007560-f6372ad3-0f11-4daa-bc26-0ce84a100a95.png)

I get the same result.
![image](https://user-images.githubusercontent.com/47529668/181007689-bf95d4c2-a8b7-4ece-a6ec-2ec43c8a5bae.png)

![image](https://user-images.githubusercontent.com/47529668/181007828-5ac248d5-92f2-4caf-94ed-ce2d3e4249e2.png)
Tha

[2022-07-26 12:50] COM8 commented on #797
OK, then I don not know any further. Could you please provide a minimal example, so I can debug this?

[2022-07-26 12:53] Reivax47 commented on #797
Ok, I'm working on it.
Thanks for your time.

[2022-07-26 14:26] leviliangtw commented on #293
Here I test this phenomenon with the following codes:

[code]

Then I got the following output:

[code]
Therefore, I used the codes above to create a unit test and PR #798.

[2022-07-26 15:10] leviliangtw commented on #528
@COM8  I noticed that there is already the implementation of `cpr::ConnectTimeout` for this issue, so this issue could be closed as well.

[2022-07-27 08:16] leviliangtw commented on #691
@ChrisNelson-CyberReef @COM8
I managed to create the VRF and a test program for this issue; however, I cannot reproduce the hostname resolution problem.

The following is my environment:

- OS version: Ubuntu 20.04 (5.15.0-41-generic)
- GCC version: 9.4.0
- Make version: 4.2.1
- Cmake version: 3.23.2
- iptables version: v1.8.4
- NIC:
  - wlp3s0 (Realtek, built-in)
  - wlx908d788580df (D-Link, exte

[2022-07-27 17:28] ChrisNelson-CyberReef commented on #691
I'm sorry but we've switched to another solution and I no longer have an environment where I could try to reproduce this.

[2022-07-28 14:57] COM8 commented on #691
Then I'm just closing this issue for now. In case someone else can reproduce this, we can reopen it again.
Thanks @leviliangtw for looking into this.

[2022-07-28 14:57] #691 closed

[2022-07-29 11:35] ospfranco commented on #715
@sergeymild did you manage to compile the lib for iOS?

[2022-07-29 12:56] ospfranco commented on #113
@BernardTolosajr can you maybe give more specific instructions on how did you get it to compile for iOS?

[2022-07-29 13:56] ospfranco commented on #715
So following similar steps to @sergeymild I have managed to compile (I had to manually fix an implicit conversion) and cmake has produced a xcodeproj. As far as I understood it I'm supposed to add this project as a dependency, which I have, but I still cannot import the header (`#import <cpr/cpr.h>`) into my code. I know this is is very specific to iOS/Xcode and the authors might not know the answ

[2022-07-31 04:44] ospfranco commented on #715
I have created a test repo if someone is interested in taking a look:

https://github.com/ospfranco/libcprtest

As I said, I followed the same steps sergey posted to generate the .dylib, but then copied the cpr repo inside the main repo so I can include the headers (I had to manually modify the files so that the imports use quotes instead of angle brackets). So now the app compiles and it launches

[2022-07-31 06:42] COM8 commented on #715
Although I never developed for Android or iOS this is probably something like it can't find the libs.

Let me know when you get it up and running, so we can include such a sample in our samples collection here: https://github.com/libcpr

[2022-08-01 07:19] #293 closed

[2022-08-01 07:22] #297 closed

[2022-08-01 07:28] COM8 commented on #727
Closing for now since no update. Feel free to reopen in case there is something new to it.

[2022-08-01 07:28] #727 closed

[2022-08-01 07:32] #501 closed

[2022-08-03 03:33] ospfranco commented on #715
I've been doing a lot of reading on CMake to try to really understand how you are supposed to build iOS libraries. Here are some of my findings.

- Using the `-g Xcode` (Xcode generator) not only targets apple systems, it will actually generate files you can directly import into Xcode, in this case an `.xcodeproj`, it does not necessarily output static or dynamic libraries
- libcpr cmakelists incl

[2022-08-03 18:43] ospfranco commented on #715
I got it working! Andre answered my [Stack Overflow question](https://stackoverflow.com/questions/73216268/how-to-include-xcode-sub-project-headers) and gave me the exact values I needed to fetch into Xcode to get it to detect the headers.

Now I'm facing another issue, it seems SSL requires a `.pem` file to be detected in the OS for https (TLS) requests to be made. I saw some other issues in the

[2022-08-03 19:10] ospfranco commented on #715
It seems on iOS the root CA is not accessible (due to iOS apps being sandboxed and what not). [This StackOverflow answer](https://stackoverflow.com/questions/42432473/programmatically-read-root-ca-certificates-in-ios) seems to suggest the usual approach is to download the apple root cert in the app bundle and reading it from there... which seems complex to me. Maybe there is no other way. Any sugg

[2022-08-04 04:21] ospfranco commented on #715
It seems there are a couple of solutions:
1. Bundle your own certificate and pass it to libcurl on runtime (I would not want to do this due to app review)
2. Build libcurl with the `--with-secure-transport` flag, which [will use Apple's Secure Transport](https://curl.se/docs/install.html) (search for the iOS/macOS part) and it will automagically use the certificates used on the device keychain

I'

[2022-08-04 04:31] ospfranco commented on #715
Just checked the CMake output one more time and Secure Transport seems to be used... weird that iOS fails to load the cert then...

<img width="576" alt="Screenshot 000825" src="https://user-images.githubusercontent.com/1634213/182763533-6d25f13b-02e2-48bc-a7cc-284c9d6accb2.png">

[2022-08-04 04:36] ospfranco commented on #715
[This mailing list](https://curl.se/mail/lib-2017-11/0070.html) seems to suggest some flags (CURLOPT_CAINFO to NULL) need to be turned off when not using the shared curl library (also, any idea how to do that?)

I might also try not using a static library build?

[2022-08-04 05:53] ospfranco commented on #715
Scratch that last comment it worked! W00p w00p!

![Screenshot 000827](https://user-images.githubusercontent.com/1634213/182772982-ac21dc05-767d-44b0-99a4-9ba8338f969d.png)

[2022-08-04 14:09] sergeymild commented on #715
@ospfranco it's awesome, could you please also write some kind of instruction how to build it on mac for ios? You will help me a lot) because now, to build my react-native-cpr i need to copy all cpr library and distribute it together.

[2022-08-04 14:20] ospfranco commented on #715
The instructions are all up there ⬆️ I will try to write something more clean later :)

[2022-08-10 14:45] walge-laine opened #800 "Async requests does not go parallel"
## Description
In older versions of `cpr` where `std::async` is used, async requests can be sent concurrently, but in the latest version, they are serial. After some brief debugging, I found that `GlobalThreadPool` has one thread and it seems `idle_thread_num` never decreases so no more threads would be created. Here's my test code
[code]

## Expected Behavior
I think `cpr::GetCallback` should beh

[2022-08-11 06:06] COM8 commented on #800
Thanks for taking the time to report this! I will have a look at it shortly.

[2022-08-11 07:18] COM8 commented on #797
Any updates on this issue?

[2022-08-11 07:30] COM8 commented on #800
Short example demonstrating the issue:
[code]

[2022-08-11 08:35] COM8 commented on #800
Created a fix for it here: https://github.com/libcpr/cpr/pull/802

How important is it for your current workflow since I was planing to make a new 1.9.x release by the the end of the month. In case it's important to have this fixed as soon as possible, I can work on a new release this week.

As a workaround you can do something like:
[code]
This gives the threads enough time to start internally an

[2022-08-11 08:56] #800 closed

[2022-08-11 09:27] ospfranco commented on #715
I updated my submodule to the latest version (since merging #801) but now when I compile the project the generated .xcodeproject contains a `libcurl-d.a` which is not anywhere in the generated files:

<img width="1234" alt="Screenshot 000860" src="https://user-images.githubusercontent.com/1634213/184103909-a0f0d492-2c38-45ba-b0ca-cb2ec30c2a85.png">

<img width="924" alt="Screenshot 000861" src="ht

[2022-08-11 10:58] ospfranco commented on #715
CMake is a funny beast... it seems it might read the parent xcodeproj to determine which build to generate? so libcurl-d.a seems to be a debug build... but when I link it in iOS I don't want debug builds to ship on production...

<img width="1677" alt="Screenshot 000863" src="https://user-images.githubusercontent.com/1634213/184118879-c01e86b7-f334-4afc-9a98-d3eca7dc613d.png">

[2022-08-11 16:29] matthiasklein opened #804 "Is there a reason why the relatively old libcurl version 7.80 is built?"
What are your plans regarding updating to newer libcurl versions like 7.84.0?

[2022-08-11 16:36] COM8 commented on #804
Currently impossible due to: https://github.com/curl/curl/issues/8741

An update would break HTTPS on Windows.

[2022-08-13 11:09] Reivax47 commented on #797
Hi Fabian,

Sorry to be late.

Yes and all was on me. I'm working on a remote device. On this device,
CPR's update was not successful. I did update again and since then
everything is fine.

Sorry again to not updated you and false report.
Xavier.

Le jeu. 11 août 2022 à 09:18, Fabian Sauter ***@***.***> a
écrit :

[2022-08-13 15:35] LunarWatcher opened #807 "cpr fails to compile when using submodules or FetchContent and Clang 11 on a Raspberry Pi 3B+"
## Description

cpr detects my Raspberry Pi 3B+ as ARMv6, which is wrong. 3B+ is ARMv8, but because Raspbian didn't support 64 bit back when I installed it, the OS identifies it as ARMv7l. The correct identification for this device is consequently ARMv7/ARMv7l, which is also how the device self-identifies in all commands.

`lscpu`, `lsb_release`, and `uname` all pick up armv7 or armv7l. Additional

[2022-08-14 07:20] denglihong2007 opened #808 "How to send data that is not form-encoded?"
When I send a post request using libcpr or Python's requests, the server returns:
[code]
C++ Code:
[code]
Python Code:
[code]

It is written in the docs of Python's requests that:
`There are times that you may want to send data that is not form-encoded. If you pass in a string instead of a dict, that data will be posted directly.Instead of encoding the dict yourself, you can also pass it directly

[2022-08-14 08:33] #797 closed

[2022-08-14 08:39] COM8 commented on #807
Thanks for your well written issue! It looks to me like this is an issue of [zlib-ng](https://github.com/zlib-ng/zlib-ng), we are using as a faster drop in replacement for curl.
Until I have time to investigate this deeper, you can disable zlib support via the following options:

https://github.com/libcpr/cpr/blob/ab6ec0be798c511552e389276fe8e36e408ddf99/CMakeLists.txt#L215-L223

[2022-08-14 08:45] COM8 commented on #808
Try using a `cpr::Body` instead of a `cpr::Payload` for posting raw data. But I agree, this is something we should document better.

[2022-08-14 09:04] denglihong2007 commented on #808
like `cpr::Body{ {'"gbcc"="X8003"'} }?`

[2022-08-14 09:06] COM8 commented on #808
No, like this:
[code]

[2022-08-14 09:08] denglihong2007 commented on #808
Thank you!

[2022-08-14 10:20] #808 closed

[2022-08-14 13:54] #757 closed

[2022-08-14 14:57] LunarWatcher commented on #807
Good to know. Conan still picks the right version though, so rolling with it for now (though I'm gonna drop conan again for this particular project as soon as I can; trying to keep it minimal).

Thanks for mentioning zlib-ng; did some quick investigation on my own, and tracked it down to zlib-ng's CMake script:

https://github.com/zlib-ng/zlib-ng/blob/a406284705a462939c7a634119884a31b87d6af9/cmake

[2022-08-14 15:20] LunarWatcher commented on #807
And the rabbit hole goes deeper.

I installed Raspbian when it was still running on a Debian 10 base without 64 bit support. Not only has 64 bit support since been released, but an update to Raspbian's base has been made, that I can't seem to get without a full reinstall. My version of Raspbian is now classified as the legacy version as well.

So, it might not be worth putting much dev effort into

[2022-08-14 16:16] lthon09 opened #809 "Can't Compile Application in 32 Bit"
I can't seem to get CMake to compile my application for 32 bit with CPR working. When I try to do it, an uncompatible error gets raised. I'm not sure why this happens as I've already added the `-m32` flags.

My `main.cpp` file is just:

[code]

This is my `CMakeLists.txt`:

[code]

Above, as you can see, I'm trying to compile these in 32 bit with the `-m32` flag.

If I don't try compiling in 32 bi

[2022-08-15 08:31] COM8 commented on #807
Interesting...
Later this week I will try to play around with it on my own since a own quite a couple of PIs, so I can quickly evaluate stuff there.

[2022-08-15 08:36] COM8 commented on #809
Thanks for reporting!
First of all, compiling works, but it fails during linking. Your issue is, that you try to link a `i386:x86-64` version of libcurl with to a `i386` binary. So something does not come through to when building libcurl. It still builds as 64-Bit target.

[2022-08-15 08:37] COM8 commented on #809
Based on the following StackOverflow article, you also have to specify the 32-Bit mode for the linker flags:
https://stackoverflow.com/questions/5805874/the-proper-way-of-forcing-a-32-bit-compile-using-cmake

[2022-08-15 08:59] lthon09 commented on #809
Do you think this is good?

[code]

[2022-08-15 09:09] lthon09 commented on #809
[code]

This is my current CMake file, please tell me if I'm doing something wrong, but it still isn't working yet.

Thanks!

[2022-08-15 18:43] COM8 commented on #809
I think it has to be:
[code]

instead of:
[code]

In case this does not work, I also don't know any further, but in my eyes this has to be a configuration error.
Some time next week I can have a deeper look into it.

[2022-08-16 05:16] lthon09 commented on #809
ive done that too, ive also tried compiling curl manually and it must be curl at fault here. idk why i cant compile it in 32 bit

[2022-08-18 03:02] Blackqx0 opened #811 "cprver.h"
![image](https://user-images.githubusercontent.com/102927513/185283643-15e8593e-3fce-46dd-92e0-ccc92ca1291e.png)
so i tried cloning the library but i always get that problem, whats the solution?

[2022-08-18 03:05] #809 closed

[2022-08-18 06:30] COM8 commented on #811
`cprver.h` ist generated during the build process using CMake based on [this](https://github.com/libcpr/cpr/blob/master/cmake/cprver.h.in) file.

For the next time, please use the issue template since I don't know how you are integrating cpr, what OS you are on and what version of cpr you are using.

[2022-08-18 06:30] #811 closed

[2022-08-18 06:39] COM8 commented on #809
How did you solve it?

[2022-08-18 06:41] lthon09 commented on #809
i switched to java from c++, and even if i didnt, my solution is to just compile for 64 bit only. i pretty much just gave up trying to compile for 32 bit so i thought id just close this

[2022-08-18 06:42] COM8 commented on #715
It would be awesome if someone could create a PR for the https://github.com/libcpr/docs repo with a more detailed summary/run through description for this.

[2022-08-18 06:43] COM8 commented on #809
Oh wow 🤣 . Well, that's not the answer I was hoping for.

[2022-08-18 06:44] lthon09 commented on #809
)) unfortunate, cpr is a nice lib tho. its curl that i cant compile for 32 bit

[2022-08-18 07:18] ospfranco commented on #715
I will do, but did you see my last comment? is it correct that a debug `.a.` is generated? or how can I avoid this?

[2022-08-18 07:27] COM8 commented on #715
In my eyes this is not correct. Perhaps there is something wrong in curl. Did you already try to build libcurl without cpr?

[2022-08-18 23:06] Blackqx0 commented on #811
thank you. my bad <3.

[2022-08-22 15:21] RuleOfThrees commented on #257
Hello! I'd like to take a look at this, if it's ok!

[2022-08-22 17:21] COM8 commented on #257
Sure, you are more then welcome to take a look at this. Let me know in case you need any help.

[2022-08-23 05:01] lthon09 commented on #809
@COM8 problem solved, i just set the target system properties and libcurl successfully compiled

heres my cmake file:
[code]

[2022-08-23 06:27] COM8 commented on #809
I'm glad to hear and thanks for publishing your findings here.

[2022-08-24 07:58] ospfranco commented on #715
Sorry, I was busy with other stuff, taking a look into this right now.

No, libcurl is being compiled by the base CMakeLists of cpr, I did not change anything. I went over the file but did not find any obvious flag to compile libcurl in release mode, the thing is both versions are generated, so probably it is the toolchain file that needs to generate the xcodeproj pointing to the correct configura

[2022-08-25 07:35] COM8 commented on #715
Thanks for taking the time to note down your steps! I will try to move them inside the docs.

[2022-08-25 21:25] NateNate60 opened #813 "Some way to get a cpr::Payload object from a JSON string? (or update documentation showing how)"
**Is your feature request related to a problem? Please describe.**

There's a strange issue that I'm always bumping into. The scenario is that I have a JSON object string that I am trying to transmit as encoded form data. But where I get stuck is trying to transmit this data via a POST request. If there's already a way to do what I'm describing, I wasn't able to figure it out from reading the docu

[2022-08-26 11:27] Pxddyk45 opened #815 "Killed, Exit Code 137"
## Expected Behavior

It should run normally
## Actual Behavior
It gets killed, error code 137
[code]
## Steps to Reproduce

code:
[code]
g++ arguments: -I./include -L./lib -lcpr -std=gnu++20

## Your Environment

* Where did you get it from (e.g. conan, vcpkg, master, ...): master
* Operating System and version: macOS Monterey 12.4 (M1)

[2022-08-27 06:05] COM8 commented on #815
To me error `137` sound like a memory issue. Perhaps something is wrong there when using a M1 Mac. Sadly I can not look deeper into this since I do not have access to a M1 Mac.

Any chance you could debug it a bit further using gdb, so we know at least where it is crashing?

[2022-08-27 06:18] COM8 commented on #813
Sadly this is not possible since this would require us to add an additional dependency to for example `nlohman::json`.
But you can do the following: https://github.com/libcpr/cpr/issues/609#issuecomment-897423028

[2022-08-27 06:18] #813 closed

[2022-08-27 07:21] Pxddyk45 commented on #815
Somehow it fixed itself by restarting my mac, if this occurs again i'll reopen the issue

[2022-08-27 07:21] #815 closed

[2022-08-27 23:36] NateNate60 commented on #813
I have figured out a solution (or workaround, depending on how you look at it), and I think it should be added to the documentation. `cpr::Payload::Add` has the ability to add key-value pairs to a `cpr::Payload` object at runtime, and thus, it's just a case of parsing the JSON string into an iterable container (which is the responsibility of the user) and then calling `Add()` to add key-value pair

[2022-08-27 23:37] NateNate60 commented on #813
@COM8

[2022-08-30 05:31] cpsauer commented on #715
@ospfranco, just to clarify, DBUILD_SHARED_LIBS=FALSE currently needs to be specified for things to work with sandboxed Apple OSs, right?

Would it makes sense to automatically default it to OFF on Apple Platforms?

[I'm working on writing Bazel rules to build CPR across platforms. @COM8, lmk if you'd be interested in them as a contribution. Benefits would be easy CPR usage for more users, especia

[2022-08-30 06:00] ospfranco commented on #715
TBH no idea if SHARED_LIBS=OFF is necessary. I wanted a static library because I thought it would be easier that way to include it since I didn't know if the produced dylibs might cause compatibility issues. I don't think it would make a difference, since internally the compiled library still uses Apple's network layer, so they can still track/block as much as they want.

[2022-08-30 06:33] COM8 commented on #715
@cpsauer since you are working on Bazel rules anyway please let me know when you are done, so I can have a look at the required changes. The issue here is, this would require maintenance later on and I currently don't have the knowledge required about the Bazel build system.

[2022-08-30 06:43] cpsauer commented on #715
@COM8, will do and totally understand. I suspect it'll be much simpler/shorter than the equivalent cmake.

[2022-08-30 06:44] cpsauer commented on #715
@ospfranco, sorry, I messed up.
I meant to say -DCPR_SKIP_CA_BUNDLE_SEARCH--proposing that maybe it should default to on for Apple platforms if its needed?
Have edited the above to make sense. Again, my apologies.

[2022-08-30 06:46] COM8 commented on #715
Perhaps one can even provide a small sample XCode project like we have done it for [CMake](https://github.com/libcpr/example-cmake-fetch-content) and [Conan](https://github.com/libcpr/example-cmake-conan).

[2022-08-30 06:56] ospfranco commented on #715
no, on macOS the bundle can be accessed without problems, only on iOS it causes problems because the Sandboxing. I already provided [the sample project](https://github.com/ospfranco/libcprtest) where I ran the integration tests in case that is useful to you.

[2022-08-30 21:21] cpsauer commented on #715
[Had to sleep. Pretty cool that we're on opposite sides of the world and still working together!]

@ospfranco, I'm trying to say something a bit different. Sorry I haven't communicated very well so far. To restart from scratch:
1. From the above discussion it looks like -DCPR_SKIP_CA_BUNDLE_SEARCH=ON is needed on iOS.
2. That made me think: Perhaps the cmake file should therefore automatically set

[2022-08-31 04:51] ospfranco commented on #715
I know what you meant, just pointing the differences, feel free to do the changes, but without the toolchain file (which is huge) I don't know how to generate pure static files, so it seems to me like more changes are needed than just one flag :)

[2022-09-01 09:54] gelatyna commented on #361
HI, i've done everything as you all said, but i still have an error:

LINK : fatal error LNK1104: cannot open file 'libcurl.lib'

I would be happy if someone could help me :)

[2022-09-02 22:32] bleriaf opened #817 "error connection to proxy after a tot amount of multi threaded connection"
## Description
I'm getting the error code " Failed to connect to <proxy ip> port <proxy port> after <x> ms: Address already in use " on all the requests after there are been done alot of requests (50k+) in a multi threaded application, what i do is create a cpr session then use .setProxies & .setProxyAuth then do the http request. what could i do to solve this issue?
the code:
[code]
## Expected B

[2022-09-03 12:26] COM8 commented on #817
The issue is, that you are probably using cpr on Windows, right?
The error you get lets you know that you used up all free source ports on your system. This might be caused by not properly disposing cpr sessions after use.

To validate this, please try the following. What happens if you run out of ports, then you properly close your application and restart it. In theory Windows should free up all

[2022-09-03 16:02] bleriaf commented on #817
correct i'm on windows, and yes after closing the process and then reopening it the issue is solved however i'm looking for a better solution. how would i be able to dispose cpr session after use like you mentioned?

[2022-09-05 18:53] Nightyly opened #818 "Cmake error "includes target "X" which requires target "cpr" that is not in any export set""
## Description
I am creating a library that depends on cpr, so I followed the instructions in the Usage section of the readme, and added that to my CMakeLists.txt
[code]

## Expected Behavior
cpr should link with my project

## Actual Behavior
Error when doing `cmake ..`

[code]

## Possible Fix
I had the same problem with nlohmann/json, but fixed it with adding `set(JSON_Install ON)` after [analy

[2022-09-06 06:05] KingKili commented on #818
Did you use System curl? In order to install cpr, you have to use system curl.

[2022-09-07 07:07] COM8 commented on #817
One option would be to reuse `cpr::Session` when ever possible. As soon as you call the destructor of `cpr::Session` resources should be freed automatically.

[2022-09-07 14:45] erkska opened #819 "cpr::ssl::CaBuffer not working"
## Description
When trying to make a HTTPS request using the `CaBuffer` object the request fails. I have a file with cert that I provided to `CaInfo` and that way everything worked but as soon as I try providing the cert in string format to `CaBuffer` it doesn't work.

## Expected Behavior
[code]
The request should be successful.

## Actual Behavior
The request fails. I've tried multiple ways to f

[2022-09-08 07:23] COM8 commented on #819
Hi @erkska thanks for reporting this!
We actually have a test case for this here:
https://github.com/libcpr/cpr/blob/7938bc7702130f989b76822909b57b829dcd806a/test/ssl_tests.cpp#L132-L151

There we use the following example certificate for testing:
https://github.com/libcpr/cpr/blob/master/test/data/certificates/root-ca.crt

Is there any chance you can try running this unit test on your system, to

[2022-09-08 07:25] COM8 commented on #578
This issue will be closed since we new require a cpp17 compatible compiler for all versions of cpr >= 1.10.0.

More details: https://github.com/libcpr/cpr/releases/tag/1.9.0

[2022-09-08 07:26] #578 closed

[2022-09-08 07:28] COM8 commented on #761
Closing this one for now since it does not seam to be a cpr issue itself.
Feel free to reopen in case this changes.

[2022-09-08 07:28] #761 closed

[2022-09-09 06:39] COM8 commented on #819
In fact, you are right with that!
Probably over the weekend I have more time to look deeper into this.

[2022-09-09 15:11] MFMokbel commented on #361
@gelatyna,

Check if the curl library is installed.

[2022-09-11 12:49] COM8 commented on #819
I'm currently working in a separate branch on this: https://github.com/libcpr/cpr/tree/CaBufferFix

I was able to reproduce this bug and I already fixed one related bug. But the main issue is still there and I don't know why right now.

When using `mypem` from here: https://curl.se/libcurl/c/cacertinmem.html

Now at least it does not segfault any more ;D

[2022-09-14 23:06] leviliangtw commented on #257
I have also looked into this topic and studied a little about it.
In my view, it's time to refactor and combine `async` and `multiperform` together.

Here are some facts that I conclude:

- Currently, there is no simple approach to directly interrupt and cancel an `async` thread.
- It's feasible to use `std::atomic_bool` as an interrupt signal for an `async` thread; however, it seems not easy to c

[2022-09-21 06:47] COM8 opened #822 "Proxy Tests Fail due to invalid Proxy Server"
## Description

Currently our proxy CI runs fail sometimes in case they can not establish a connection to the test proxy server we are using.

## Possible Fix

Add an option `CPR_ENABLE_PROXY_TESTS` or something like that. When enabled, it will run the proxy tests.
For the CI, we can use a squid_proxy based docker image, for a fast and easy proxy server setup.

## Steps to Reproduce
[code]

[2022-09-21 08:36] frankfreakpan opened #823 "Is there a way to reuse connections?"
Hi guys, amazing work! No more struggles with libcurl.
Since my project requires MTLS between client and sever, an new connection for every request is not acceptable. I'm trying to find a way to reuse the connections as much as possible between threads. I guess I'm looking for something like a connection pool sort of thing.
Can this be done with the existing interfaces from libcpr? Or do I have to

[2022-09-21 08:39] COM8 commented on #823
Try using a `cpr::Session` object. There you can perform multiple requests over the same session.
Docs: https://docs.libcpr.org/advanced-usage.html#session-objects

[2022-09-21 08:50] frankfreakpan commented on #823
Thank you for your quick reply.
From my understanding Session is a wrapper around the libcurl handle, so that leads to the following questions:
1、Session.Get() perform in a blocking way, and It process requests on at a time right?
2、Is it safe to share Session in different threads?

[2022-09-21 09:33] COM8 commented on #823
1. Yes. But there are also options for async requests [here](https://docs.libcpr.org/advanced-usage.html#asynchronous-requests) and for multiple requests at a time [here](https://docs.libcpr.org/advanced-usage.html#multi-perform). But this requires multiple session objects.
2. No. One `cpr::Session` per thread.

[2022-09-21 09:55] frankfreakpan commented on #823
OK, I think I understood most parts correctly. Async and multi might not exactly meet my needs, but I'll look more into those.
Last question:
libcurl keeps a connections pool for each handle(in cpr's case it's Session), is that pool lost after curl_easy_cleanup? And In order to reuse that pool I have to reuse the handle(Session) as much as possible right?

[2022-09-21 09:57] COM8 commented on #823
When you destroy a session, we also cleanup the curl handle for you:
https://github.com/libcpr/cpr/blob/c642a767e7788d8ccd3de8ddfae00cd92d12d715/cpr/curlholder.cpp#L21-L26

As long as this curl handle exists, curl keeps it inside its session pool.

[2022-09-21 09:59] frankfreakpan commented on #823
Thank you,

[2022-09-21 09:59] #823 closed

[2022-09-21 22:40] Seren541 opened #824 "CMake fails to detect libcurl protocol HTTP"
## Description

When trying to compile cpr on Ubuntu 14.04 I run into the error that your CMake file cannot properly detect the supported protocols of libcurl. I know for sure that libcurl supports http due to a quick curl-config:

[code]
But the cmake fails to detect it ending with this error:

[code]

When I asked the same question over on this thread: https://github.com/AppImage/AppImageUpdate/

[2022-09-21 23:21] Seren541 commented on #824
@TheAssassin

[2022-09-22 07:39] KingKili commented on #824
It seems to me like the libcurl version of Ubuntu 14.04 is propably to old. You can try to use a fetch content curl instead

[2022-09-23 13:04] 0x0AFD opened #825 "cpr::Download with POST method"
Hi, can I `cpr::Download` using a POST method and payload? Something like
[code]

[2022-09-23 13:21] TheAssassin commented on #824
My guess is CMake's `FindCURL.cmake` is reporting things incorrectly there. Even though libcurl provides HTTP/HTTPS support, CMake's built-in check doesn't report this, even though compilation would succeed.

[2022-09-23 14:02] COM8 commented on #825
Currently no. But this is something that should be easy to fix. However I won't have time for it until the 15th of October.

Any chance you would like have a look at this and create a PR?

[2022-09-23 14:10] 0x0AFD commented on #825
Sure, thanks for your reply.

[2022-09-23 14:20] COM8 commented on #825
I'm keeping this issue open until we solved it :)

[2022-09-24 11:26] lightheart33 opened #826 "vcpkg cpr[core]:x64-windows update to new version request"
Library name: cpr[core]:x64-windows

New version number: 1.9.2 or later (One that support Authentication (HTTP Authorization) Basic and Bearer).

Other information that may be useful (release notes, etc...)

With Visual Studio 2017 I first tried the NuGet package version 1.9.2, somehow I have problem with it, it cannot include cpr/cpr.h.
So instead I tried vcpkg cpr[core]:x64-windows, it compiles

[2022-09-24 13:32] COM8 commented on #826
So, I don't really get your issue :)

You are trying to use cpr 1.3.0 via vcpkg? But you require features from 1.9.2, right?
But why don't you use 1.9.2. What is your issue, what error does it produce?

Please use the issue template the next time you create a new issue.

[2022-09-24 14:04] lightheart33 commented on #826
Yes that works.

Correct, yes

Because the only version that I seem to be available to get with vcpkg is 1.3.0:
C:\sources\git\vcpkg>vcpkg search cpr
cpr                  1.3.0-8          C++ Requests is a simple wrapper around libcurl inspired by the excellent Pyth...
I would luv to use 1.9.2, but how do I get the version 1.9.2 down with vcpkg?
If a newer version is available over vcpkg? I could

[2022-09-24 15:42] Seren541 commented on #824
I tried building it previously and that did not solve it

I do think this is definitely a cmake error, because the curl command is functioning for http links and reporting that it has http functionality.

[2022-09-26 17:01] nullptrmachine opened #827 "My entire program won't load when using cpr"
[code]

## Description
When I don't use any cpr object in my code, my program loads, but when I do, it just won't load.
I think it's due to some thread issue. So how I should fix it ?

[2022-09-27 07:12] COM8 commented on #827
Please follow the issue template.

[2022-09-27 07:12] #827 closed

[2022-09-27 07:13] COM8 commented on #826
Sorry, but we don't maintain the vcpkg package. Please create an issue or PR here: https://github.com/Microsoft/vcpkg

[2022-09-27 07:13] #826 closed

[2022-09-27 07:20] COM8 commented on #818
Closing due to no response. Feel free to reopen in case this is still an issue for you.

[2022-09-27 07:20] #818 closed

[2022-09-27 08:03] lightheart33 commented on #826
Ok, thank you, I will.

[2022-09-27 11:31] laoshanxi opened #828 "[question] how to support both http and https in one cpr call"
Hi,

the target REST url (m_url) might be http or https, and I used cpr::SslOptions in case of SSL, how could I use sslOpts parameter but also support http call?
[code]

[2022-09-27 11:39] COM8 commented on #828
`cpr::SslOptions` apply only in case you perform an HTTPS request. For HTTP requests they will be ignored.

Is this what you were asking? Sorry I don't completely get your question.

[2022-09-27 12:07] laoshanxi commented on #828
Thanks for your response, that's the answer.

[2022-09-27 12:07] #828 closed

[2022-09-28 02:02] laoshanxi opened #829 "GCC 5.4.0 is not supported"
I tried to build on centos7 and ubuntu16 which is using gcc4.8.5/5.4.0 but failed, is there any workaround for the old compiler?

https://github.com/laoshanxi/app-mesh/actions/runs/3139871120/jobs/5100683942

https://github.com/laoshanxi/app-mesh/actions/runs/3139871123

[code]

[2022-09-28 06:27] COM8 commented on #829
Please use the issue template!

[2022-09-28 06:27] #829 closed

[2022-09-28 06:56] laoshanxi opened #830 "GCC 5.4.0 is not supported"
Use ubuntu:16.04 docker container default compiler (gcc 5.4.0) can not pass build

build in ubuntu:16.04 docker container:
[code]
[code]

**Is your feature request related to a problem? Please describe.**
Not new feature, just build failure.

**Describe the solution you'd like**
GCC 5.4.0 is better to support, but not important in nowadays.

**Describe alternatives you've considered**
I am also pl

[2022-09-28 19:00] Necktschnagge opened #831 "crash at runtime when on CMake / Visual Studio Debug mode"
## Description
When using CMake, including cpr like
[code]
and building a project for Visual Studio 2022,
one can run your sample code given in README in Release mode.

However Debug mode leads to some runtime error when the StringHolder is destructed, I think:

caused in line 996 of `debug_heap.cpp`:
`_ASSERTE(__acrt_first_block == header);`
.
.
.
... caused by ...
cprtypes.h: line 33
`virtual ~S

[2022-09-28 19:47] Necktschnagge commented on #831
I am still having a look at this by myself.
You have a `class StringHolder` and a class `class Url : public StringHolder<Url>`.
I am not yet 100% sure about the code design structure, but my first thought would be, maybe the string inside the StringHolder is attempted to be destructed twice...

[2022-09-28 20:17] Necktschnagge commented on #831
The error occurs when the Response object is destroyed
[code]

[2022-09-28 20:50] Necktschnagge commented on #831
I found the error.
My supposition this issue being part of cpr was actually wrong.
It was part of my CMake project configuration regarding compiler flags like `/MT`, `/MT` and so on.
Just in case someone faces a related issue and reads this, here is what gives some explanation:
https://stackoverflow.com/questions/35310117/debug-assertion-failed-expression-acrt-first-block-header

[2022-09-28 20:50] #831 closed

[2022-09-29 07:02] COM8 commented on #830
Thanks for reporting!
In theory [Allowing move constructors to throw [noexcept]](https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2010/n3050.html) is a gcc 4.6 feature.

[code]
can be solved via:
[code]

The other can be by removing the `noexcept` for older compilers.
Could you please try the following branch/commit: https://github.com/COM8/cpr/commit/3fa5f86c7b0d2f1d85fc36ff577db6d0e28f43de

[2022-09-29 07:14] laoshanxi commented on #830
I tried but still failed:
[code]

[code]

[code]

[2022-09-29 07:27] COM8 commented on #830
Aha, new errors 😄 .
But those are not fixable for such an old gcc compiler.

[2022-09-29 08:27] laoshanxi commented on #830
Never mind, old compiler is not important to me ^^

[2022-09-29 13:23] COM8 commented on #830
ACK, then I'm going to close this issue.

[2022-09-29 13:23] #830 closed

[2022-09-30 06:26] AdmiralNicherov opened #832 "download"
what kind of nonsense do I have to download all sorts of cmake git why can't you make me download just 1 file moved it and that's all why should I suffer

[2022-09-30 09:25] COM8 commented on #832
![image](https://user-images.githubusercontent.com/11741404/193232913-1cb0abbb-ab1a-47e4-8342-d1fb6fc06bb2.png)

Thank you for your kind and constructive issue/feature request. This is really something that helps us humans becoming a multi planetary race 🤠.

Nevertheless I see, where you are coming from. The next time please take your time to elaborate your use case a bit more and let us know if y

[2022-09-30 09:25] #832 closed

[2022-10-01 16:05] 0x0AFD commented on #825
Unfortunately, I don't have enough c++ programming experience to write this enhancement =(

[2022-10-02 23:52] laoshanxi opened #833 "multi-thread REST call not work"
I am trying to use multi-thread REST call and some REST are used for call Consul Block Query API which will block some seconds in REST server side, and with this, I found other cpr REST can not send out. seems multi-thread is not supported

[code]

## Description
Is multi-thread REST call supported?

## Expected Behavior
should work for C++ multi-thread

## Actual Behavior
From symptom seems some

[2022-10-03 00:29] Nightyly commented on #824
I am getting the same error when trying to build cpr, in windows 10, using g++ 12.2.0 and cmake 3.23.1, I tried both building curl from source and getting libcurl from msys2 via `pacman -S libcurl-devel`, but to no avail.
I then tried to use both cmake and make downloaded from msys2, this time cmake was able to create build files, but when trying to compile, i got `fd_set and associated macros hav

[2022-10-03 00:42] TheAssassin commented on #824
This has got _nothing_ to do with headers. Look at the CMake module's code https://gitlab.kitware.com/cmake/cmake/-/blob/master/Modules/FindCURL.cmake (or better check your local version, modules get updated every now and then).

The workflow is easy to understand. First, CMake needs to find the library:

- try to find CMake with `CURLConfig.cmake` (as far as I can see not available and therefore

[2022-10-03 00:54] laoshanxi commented on #833
sorry, not cpr issue, some lock in server side. close

[2022-10-03 00:54] #833 closed

[2022-10-03 01:54] laoshanxi opened #834 "[question] some cpr::Get() will create new thread, some will not, how to avoid new thread create for GET"
Hi,

I used multiple cpr::Get() but the first case will create new thread, the second case will not, is there something wrong? how can I avoid new thread create for GET call.

- Case 1 will create new thread

https://github.com/laoshanxi/app-mesh/blob/main/src/daemon/consul/ConsulConnection.cpp#L251
`auto resp = cpr::Get(cpr::Url{url, restPath},cpr::Timeout{1000 * 10},cpr::Ssl(cpr::ssl::VerifyHost

[2022-10-03 06:14] COM8 commented on #834
We do not create any new threads inside cpr. This is something you might want to ask the curl maintainers: https://github.com/curl/curl

We only wrap curl.
In case you get a reply, feel free to let us know so we can implement the required changes/options.

[2022-10-03 06:14] #834 closed

[2022-10-03 08:05] laoshanxi commented on #834
I found that's because curl need resolve hostname (https://everything.curl.dev/libcurl/names), but its wired since the hostname is local hostname, and the resolve failed.  tried curl with local hostname have no issue.

[2022-10-03 09:22] Chrys4lisfag commented on #436
Bumping. This feature would be great

[2022-10-04 02:48] laoshanxi commented on #834
every time when I use hostname to call REST, new thread will be created for name resolve, I believe there could have cache for long running daemon application instead of resolve same hostname very time to spawn a  thread.

[2022-10-11 15:46] hiroashikawa opened #838 "vcpkg cpr: static libraries (x64)"
## Description
I installed following vcpkg dependencies:
[code]
After Enabling Static Libraries in the Vcpkg Settings in my project and compiling I get following errors (Yes /MT results in that issue, /MD will compile but will again drop dlls):
![devenv_zcxf6hRvU3](https://user-images.githubusercontent.com/91470165/195137845-29c16760-dcd5-4d99-a2e4-c10aeafe06ec.png)

## Expected Behavior
Compile u

[2022-10-12 07:10] COM8 commented on #838
The vcpkg package is not maintained by us. Please create an issue here: https://github.com/Microsoft/vcpkg

[2022-10-12 07:10] #838 closed

[2022-10-12 13:11] RuleOfThrees commented on #257
Sorry to take so long to give feedback, unfortunately real life intervened.
I have done some research on the matter, and experimented a bit. The conclusions so far are as follows:
The prospective cancellation function for an async request will have to be able to handle the following situations:

1. The Task related to the `AsyncResponse` that the API user has gotten, is in the queue. In this case,

[2022-10-12 22:42] ATM-SALEH commented on #825
I can have a look into this one

[2022-10-13 07:05] COM8 commented on #825
@ATM-SALEH You are more thank welcome to look at this. Let me know in case you need any help.

[2022-10-13 08:01] CypherpunkSamurai commented on #361
How can i static link in Mingw64? I'm using msys2

[2022-10-14 06:52] abhishekbhatt85 commented on #333
@KingKili @COM8  : Hi I am also facing this issue of  "  No valid SSL backend found! Please install OpenSSL, Mbed TLS or disable SSL by setting CPR_ENABLE_SSL to OFF."  I created a simple HTTPS API call through

#include <jni.h>
#include <string>
#include <cpr/cpr.h>
#include <iostream>
#include <android/log.h>

extern "C" JNIEXPORT jstring JNICALL
Java_com_example_nativesample_MainActivity_string

[2022-10-14 10:57] COM8 commented on #333
Here you can find information and an example for how to get cpr to compile with OpenSSL on MacOS:
https://github.com/libcpr/cpr/blob/master/.github/workflows/ci.yml#L529-L559

You have to set environment variables for it

[2022-10-14 11:19] abhishekbhatt85 commented on #333
@COM8 : First of all thanks a lot for the quick response. Let me check with this.

[2022-10-16 19:47] Triasmus opened #839 "Feature Request: Add method to easily add parameters to what's already in the session"
**Is your feature request related to a problem? Please describe.**
I'm currently implementing a client to communicate with the Binance api. [Authentication on Binance](https://docs.binance.us/#authentication-timing) involves doing an hmac sha256 hash on the query string and request body and then adding the hash to the query string. I determined that using an Interceptor is the best way to go about

[2022-10-17 09:04] COM8 commented on #839
@Triasmus thanks for taking the time to create such a well written feature request!

I agree, such an option would be a great way to improve usability.
Accessing `cpr::Parameter` directly probably won't be possible too easy since at this point it is already inside libcurl.
But one could manipulate the libcurl structure here via a `cpr::Session::AddUrlParameter` directly.

[2022-10-17 17:45] abhishekbhatt85 commented on #333
@COM8 : I tried with the above steps but still getting the same issue of openssl. Can you please assist me to resolve this issue.

[2022-10-18 10:33] abhishekbhatt85 opened #840 "@KingKili @COM8 : Hi I am also facing this issue of " No valid SSL backend found! Please install OpenSSL, Mbed TLS or disable SSL by setting CPR_ENABLE_SSL to OFF." I created a simple HTTPS API call through"
@KingKili @COM8  : Hi I am also facing this issue of  "  No valid SSL backend found! Please install OpenSSL, Mbed TLS or disable SSL by setting CPR_ENABLE_SSL to OFF."  I created a simple HTTPS API call through

[code]

**Note : For HTTP request I am getting the response (when setting set(CPR_ENABLE_SSL OFF) in CMakeLists.txt), but when I am trying for HTTPS URL I am getting the above mention erro

[2022-10-18 11:02] abhishekbhatt85 commented on #840
@KingKili

[2022-10-18 11:06] KingKili commented on #840
Did you install OpenSSl for your Mac or Android Studio? I assume you are building for android?

[2022-10-18 11:08] abhishekbhatt85 commented on #840
Yes I installed as mention in the steps . Here is the screenshot for the same
<img width="564" alt="Screenshot 2022-10-18 at 4 38 33 PM" src="https://user-images.githubusercontent.com/26906656/196413700-6be5f61d-40e1-430e-9987-a5a022ccb8ca.png">

[2022-10-18 11:09] COM8 commented on #840
Closing this one in favour of #333 so everything inside a single issue.

[2022-10-18 11:09] #840 closed

[2022-10-18 11:09] KingKili commented on #840
I think we will move this discussion to only #333

[2022-10-18 11:10] COM8 commented on #333
Reopening since it seams to be not working.

I have never been using Android so far. Can anyone provide us a minimal project so we can debug this?

[2022-10-18 11:14] KingKili commented on #333
Maybe this can help installing OpenSSL for your android toolchain. https://wiki.openssl.org/index.php/Android

[2022-10-18 11:14] abhishekbhatt85 commented on #333
Yes, sure give me few minutes I am providing you one minimal project.

[2022-10-18 11:16] abhishekbhatt85 commented on #333
Let me check this as well

[2022-10-18 11:25] abhishekbhatt85 commented on #333
I already installed with the steps mention in the thread. but still getting the same issue. It is working fine in case of HTTP request.

[2022-10-18 12:19] abhishekbhatt85 commented on #333
@KingKili Please find the link for one sample Android project[ ]https://github.com/abhishekbhatt85/NdkDemo

[2022-10-18 13:24] COM8 commented on #333
In my eyes this is not a cpr issue and more a system configuration issue. The problem is, Android (CMake) can not find a valid OpenSSL version for the target you are compiling for.
This can be solved by the following steps:
[code]
Repeat this for all configurations you want to build for. Instructions taken from the `NOTES.ANDROID` file inside the OpenSSL root.

Then for debugging you can do someth

[2022-10-18 13:28] abhishekbhatt85 commented on #333
Let me check, I will get back to you.

[2022-10-18 13:36] COM8 opened #841 "MultiperformTenSessionsGetTest Test Case Fails on macOS Nondeterministic"
### Description

On macOS systems the `MultiperformTenSessionsGetTest` test case fails nondeterministic.
In case it fails, it gets an error indicating that the connection establishment failed inside curl.

This issue still exists, even in case we update to curl [`7.85.0`](https://github.com/curl/curl/releases/tag/curl-7_85_0).

### Example/How to Reproduce

Execute the `MultiperformTenSessionsGetT

[2022-10-19 06:38] abhishekbhatt85 commented on #333
Hi @COM8 I tried the steps mention in the above suggestion and configured my environment as you suggested. But this time I getting find Package error`[CXX1405] error when building with cmake using /Users/abhishek4.bhatt/AndroidStudioProjects/NdkDemo/app/src/main/cpp/CMakeLists.txt: -- Android: Targeting API '21' with architecture 'x86', ABI 'x86', and processor 'i686'
-- Android: Selected unified

[2022-10-19 14:25] COM8 commented on #257
@RuleOfThrees thanks for looking into this as well. I will give you some feedback on your approach until next week.

[2022-10-25 21:08] pwolfe1 opened #844 "File Upload to S3 via Presigned URL"
I am trying to write a function to upload a file to Amazon S3 using a presigned URL. I have written two implementations to do so, one using CPR and one using libcurl. The libcurl one is based on [this file_upload.c example](https://curl.se/libcurl/c/fileupload.html) from curl's documentation.

CPR:
[code]

libcurl:
[code]

The libcurl implementation uploads the file properly with a 200. However, w

[2022-10-26 06:31] COM8 commented on #844
I've never worked with aws S3 buckets before, but based on the documentation provided [here](https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html) you need to set additional headers like the `Content-MD5` header for your request.

I don't know why your libcurl request works. Based on the aws s3 docs it should not :D

Do I use the correct aws s3 docs here?
If no, please point me to th

[2022-10-26 06:35] COM8 commented on #844
Found an other example for uploading to S3 via libcurl: https://gist.github.com/tuxfight3r/7ccbd5abc4ded37ecdbc8fa46966b7e8

[2022-10-27 06:26] COM8 commented on #431
In theory yes, but right now it is still marked as experimental .

[2022-10-27 06:43] uwydoc commented on #431
ok, thanks.

[2022-10-27 06:53] COM8 commented on #844
Aha! Than your example makes sense.
I think this is might be related to #590.
I was never able to reproduce #590, but I have seen some flaky behaviour when uploading files.
This might be related to `cpr::Multipart`  but this needs further investigation.

Yes, you can pass a `cpr::Verbose{true}` object when performing a `cpr::Put` to get verbose curl logging.

[2022-10-27 16:32] pwolfe1 commented on #844
Based on [this comment](https://github.com/libcpr/cpr/issues/590#issuecomment-881229038), I tried the following request
[code]
and got the following result:
[code]

So even without that boundary header, it is still 403-ing. I am now wondering if it has to do with `Accept-Encoding: deflate, gzip`. As far as I can tell that is the main difference remaining between the working libcurl request and the

[2022-10-28 09:12] COM8 commented on #844
You can try to change the accepted encoding using the following option: `cpr::AcceptEncoding{{"deflate", "gzip", "zlib"}}`

[2022-10-28 17:31] pwolfe1 commented on #844
I gave that a try:

CPR:
[code]

libcurl:
[code]

I am a bit stumped at this point. There does not seem to be a difference in the curl logs in how the credentials are passed via the URL so I'm having trouble coming up with reasons as to why the two are producing different results (since it seems the credentials are making to it the libcurl code in both cases properly).

[2022-10-31 04:11] spiritedRunning commented on #163
@Shravan40  can you tell what's your json library you use here?

[2022-10-31 18:03] rlalik opened #845 "cpr::Session not allowed for NRVO"
### Description

When using `cpr::Session` in kind of builder function the NRVO is not possible. See following example:
[code]
which compiled with `gcc -std=c++17` (NRVO and RVO are mandatory, gcc-11.3.0 and gcc-12.2.0 tested) yields an error:

The RVO works as expected:
[code]
From inspection of `session.h` seems that `cpr::Session` breaks rule of five and is missing `Session(Session && other)` m

[2022-11-01 04:42] cpsauer commented on #715
For any Bazel users who come across this:
rules supporting iOS and Android: https://github.com/hedronvision/bazel-make-cc-https-easy

[2022-11-01 15:31] paskino opened #847 "CMake config not saved if CPR_USE_SYSTEM_CURL is FALSE"
### Description

I'm building a project depending on cpr which uses `find_package(cpr REQUIRED)`. Is there a reason why you do not save the configuration if `CPR_USE_SYSTEM_CURL` is set to `FALSE`?

https://github.com/libcpr/cpr/blob/5ae5fdeadfbbb784192c034be0222016123c94ad/cpr/CMakeLists.txt#L62-L69

### Example/How to Reproduce

N/A

### Possible Fix

_No response_

### Where did you get it from

[2022-11-02 12:12] COM8 commented on #163
I suggest : https://github.com/nlohmann/json

[2022-11-02 12:29] COM8 commented on #845
Thanks for reporting!
I created a PR to fix this: #848

[2022-11-02 12:47] COM8 commented on #844
Hmmm, the headers "should not" make a difference. For further debugging you can spin up a dummy server using [postman](https://www.postman.com/).
Sorry don't have too much time for looking into this right now.

[2022-11-02 12:49] #845 closed, assigned to nobody

[2022-11-02 13:52] COM8 commented on #257
In my eyes introducing a `MultiGetAsync` interface is the best in this case.
With that we do not destroy existing workflows/implementations or the behaviour of existing applications.

I also strongly suggest creating a separate `cpr::AsyncResponse` class. This makes it then later far easier for cancelling tasks by simply calling for example `myAsyncResponse.cancel();`.

In my eyes we should avoid

[2022-11-02 15:53] paskino commented on #847
I will retry, but it didn't seem to have lead to the expected result.

[2022-11-03 07:34] KingKili commented on #847
Did you also set `CPR_USE_SYSTEM_CURL` to true? Can you show me the CMake output?

[2022-11-03 13:20] RuleOfThrees commented on #257
Thanks! Now I think I have a good understanding of how it's expected to be done. I'll get on to it!

[2022-11-04 08:28] immerhart opened #849 "cpr::MultiPerform not available"
### Description

Added cpr over
[code]
to the cmake project, but `MultiPerform` seems to be missing completely (header is not present in the include dir).
I tried it with `1.9.0` as well.
Is there some setting needed? Should it be included in 1.9.2?

### Example/How to Reproduce

NA

### Possible Fix

_No response_

### Where did you get it from?

GitHub (branch e.g. master)

### Additional Contex

[2022-11-04 08:59] COM8 commented on #849
Multiperform is a `1.10.0` [feature](https://github.com/libcpr/cpr/pull/770). To use it please use at least 5ae5fdeadfbbb784192c034be0222016123c94ad.

[2022-11-04 08:59] #849 closed

[2022-11-11 15:52] paskino commented on #847
Hi, I had to install `libcurl4-openssl-dev` on my ubuntu machine and then I was successful with `CPR_USE_SYSTEM_CURL=ON`

[2022-11-11 15:52] #847 closed

[2022-11-16 20:47] Chrys4lisfag opened #850 "Load client cert from a buffer"
### Is your feature request related to a problem?

I have not found possibility to specify client SSL certificate from a buffer. Is there really no way of doing that?

### Possible Solution

Add this possibility as for CaBuffer

### Alternatives

_No response_

### Additional Context

_No response_

[2022-11-17 09:09] COM8 commented on #850
Might be related to: #819

[2022-11-17 14:51] ioxuy opened #851 "PKCS#12 files for client authentication"
### Is your feature request related to a problem?

curl built with SecureTransport

https://github.com/curl/curl/blob/master/lib/vtls/sectransp.c#L1896
SSL: The Security framework only supports loading identities that are in PKCS#12 format.

### Possible Solution

https://github.com/libcpr/cpr/blob/master/cpr/session.cpp#L495
If cert_type is p12 add CURLOPT_KEYPASSWD

### Alternatives

_No respons

[2022-11-22 19:03] rumgot opened #852 "CMake crashes while configuring (Incorrect use of CMake)"
### Description

When I add a **Cpr** project to my project (according to the instructions in the **README.md**), the following code in the **Cpr** project's **CMakeLists.txt** causes **CMake** to crash during the configuration phase when using the **Ninja Multi-Config** generator on Linux (Ubuntu 20.04 / 22.04):

[code]

According to the discussion here https://gitlab.kitware.com/cmake/cmake/-/is

[2022-11-22 19:19] bradking commented on #852
To clarify: certainly CMake should not crash in this case, and that will be addressed over in the CMake issue.

However, cpr's modification of `CMAKE_BUILD_TYPE` and `CMAKE_CONFIGURATION_TYPES` assumes that cpr is the top-most project in the build.  The example code using FetchContent in this issue's description demonstrates one way in which it might not be the top-most project.  The relevant code

[2022-11-22 19:31] rumgot commented on #852
In the discussion on the link there is a note that CMake, of course, should not crash with an error.

This needs to be done in the CMakeLists.txt of the Cpr project.

[2022-11-23 06:49] rumgot commented on #852
I also want to point out that adding additional configurations is problematic, for example, in the case of building a Cpr project in Qt Creator: when you open CMakeLists.txt, all configurations are not displayed there (see attached image).
Thus, I think that instead of adding additional configurations for building Cpr with different sets of compilation keys, it is better to use a standard set of c

[2022-11-23 07:12] COM8 commented on #852
Ping @KingKili

[2022-11-24 08:22] COM8 commented on #852
Agree, this is an issue. As soon as #853 got merged, I will publish a new 1.9 release including this fix.

[2022-11-24 09:13] #852 closed

[2022-11-24 09:22] COM8 commented on #852
https://github.com/libcpr/cpr/releases/tag/1.9.3

[2022-11-30 02:35] zylo117 commented on #163
maybe setting a json header can remove request.get_json(True)

[code]